{
    "components": {
        "securitySchemes": {
            "sec0": {
                "in": "query",
                "name": "x-apikey",
                "type": "apiKey"
            }
        }
    },
    "info": {
        "title": "GTI API spec",
        "version": "3.0"
    },
    "openapi": "3.1.0",
    "tags": [
        {
            "name": "Access Control - Group Management"
        },
        {
            "name": "Access Control - Quota Management"
        },
        {
            "name": "Access Control - Service Account Management"
        },
        {
            "name": "Access Control - User Management"
        },
        {
            "name": "IoC Feeds - Domain intelligence feed"
        },
        {
            "name": "IoC Feeds - File intelligence feed"
        },
        {
            "name": "IoC Feeds - IP intelligence feed"
        },
        {
            "name": "IoC Feeds - Sandbox analyses feed"
        },
        {
            "name": "IoC Feeds - URL intelligence feed"
        },
        {
            "name": "IoC Investigation - Analyses, Submissions & Operations"
        },
        {
            "name": "IoC Investigation - Attack Tactics"
        },
        {
            "name": "IoC Investigation - Attack Techniques"
        },
        {
            "name": "IoC Investigation - Comments"
        },
        {
            "name": "IoC Investigation - Domains & Resolutions"
        },
        {
            "name": "IoC Investigation - Files"
        },
        {
            "name": "IoC Investigation - Files Behaviours"
        },
        {
            "name": "IoC Investigation - IP addresses"
        },
        {
            "name": "IoC Investigation - Popular Threat Categories"
        },
        {
            "name": "IoC Investigation - Search & Metadata"
        },
        {
            "name": "IoC Investigation - URLs"
        },
        {
            "name": "IoC Investigation - Zipping files"
        },
        {
            "name": "Private Scanning - Analyses"
        },
        {
            "name": "Private Scanning - Files"
        },
        {
            "name": "Private Scanning - Files Behaviours"
        },
        {
            "name": "Private Scanning - URLs"
        },
        {
            "name": "Private Scanning - Zipping files"
        },
        {
            "name": "Threat Graphs"
        },
        {
            "name": "Threat Graphs Permissions & ACL"
        },
        {
            "name": "Threat Landscape & Vulnerability Intelligence & Reports & Analysis"
        },
        {
            "name": "YARA Hunting - IoC Stream"
        },
        {
            "name": "YARA Hunting - Livehunt"
        },
        {
            "name": "YARA Hunting - Retrohunt"
        },
        {
            "name": "YARA Hunting - Rules"
        }
    ],
    "security": [],
    "servers": [
        {
            "url": "https://www.virustotal.com/api/v3"
        }
    ],
    "x-readme": {
        "explorer-enabled": true,
        "headers": [],
        "proxy-enabled": true,
        "samples-enabled": true
    },
    "paths": {
        "/groups/{id}": {
            "get": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "",
                "operationId": "groups",
                "parameters": [
                    {
                        "description": "Group ID",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "summary": "Get a group object"
            },
            "patch": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "This request accepts a JSON body containing the group attributes to update. Attributes not present in the request body remain the same. It returns the updated [Group](https://gtidocs.virustotal.com/reference/group-object) object.\n",
                "operationId": "patch-group",
                "parameters": [
                    {
                        "description": "Group ID",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "description": "A partial group object",
                                        "format": "json",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "data"
                                ],
                                "type": "object"
                            }
                        }
                    }
                },
                "summary": "Update a group object"
            }
        },
        "/groups/{id}/relationships/administrators": {
            "get": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "Returns a list of [User](https://gtidocs.virustotal.com/reference/user-object) objects.\n",
                "operationId": "get-group-administrators",
                "parameters": [
                    {
                        "description": "Group id",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get administrators for a group"
            },
            "post": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "Update group administrator list. User emails must be used. If a username is used, a 400 error is returned.\n\nNo admins are removed by using this endpoint. To revoke admin privileges from a certain user, use [DELETE/groups/{id}/relationships/administrators/{user_id}](https://gtidocs.virustotal.com/reference/delete-user-group-administrator).\n",
                "operationId": "post-group-administrators",
                "parameters": [
                    {
                        "description": "Group id",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "description": "List of user objects.",
                                        "format": "json",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "data"
                                ],
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"error\": {\n    \"code\": \"InvalidArgumentError\",\n    \"message\": \"Invalid email address: \\\"spellman\\\"\"\n  }\n}"
                                    }
                                },
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Grant group admin permissions to a list of users"
            }
        },
        "/groups/{id}/relationships/administrators/{user_id}": {
            "delete": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "",
                "operationId": "delete-user-group-administrator",
                "parameters": [
                    {
                        "description": "Group id",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "User ID to remove.",
                        "in": "path",
                        "name": "user_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Revoke group admin permissions from a user"
            },
            "get": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "",
                "operationId": "check-user-group-administrator",
                "parameters": [
                    {
                        "description": "Group id",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "User ID to check.",
                        "in": "path",
                        "name": "user_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"data\": true\n}"
                                    }
                                },
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "default": true,
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Check if a user is a group admin"
            }
        },
        "/groups/{id}/relationships/users": {
            "get": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "",
                "operationId": "get-group-users",
                "parameters": [
                    {
                        "description": "Group ID.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get group users"
            },
            "post": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "Update the group's user list. User emails must be used, if a username is used a 400 error is returned.\n\nNo users are removed by using this endpoint. To remove group membership from a certain user, use [DELETE/groups/{id}/relationships/users/{user_id}](https://gtidocs.virustotal.com/reference/delete-user-from-group).\n",
                "operationId": "update-group-users",
                "parameters": [
                    {
                        "description": "Group ID.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "description": "List of user objects",
                                        "format": "json",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "data"
                                ],
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"error\": {\n    \"code\": \"InvalidArgumentError\",\n    \"message\": \"Invalid email address: \\\"spellman\\\"\"\n  }\n}"
                                    }
                                },
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Add users to a group"
            }
        },
        "/groups/{id}/relationships/users/{user_id}": {
            "delete": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "",
                "operationId": "delete-user-from-group",
                "parameters": [
                    {
                        "description": "Group ID.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "User to remove.",
                        "in": "path",
                        "name": "user_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Remove a user from a group"
            },
            "get": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "",
                "operationId": "check-user-in-group",
                "parameters": [
                    {
                        "description": "Group ID.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "User to check.",
                        "in": "path",
                        "name": "user_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"data\": true\n}"
                                    }
                                },
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "default": true,
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Check if a user is a group member"
            }
        },
        "/groups/{id}/relationships/{relationship}": {
            "get": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "This endpoint is the same as [/groups/{id}/{relationship}](https://gtidocs.virustotal.com/reference/groups-relationships) except it returns just the related object's descriptor (and context attributes, if any) instead of returning all attributes.\n",
                "operationId": "groups-relationships-ids",
                "parameters": [
                    {
                        "description": "Group ID.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Relationship name (see [table](ref:group-object#relationships))",
                        "in": "path",
                        "name": "relationship",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Maximum number of related objects to retrieve",
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Continuation cursor",
                        "in": "query",
                        "name": "cursor",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    }
                },
                "summary": "Get object descriptors related to a group"
            }
        },
        "/groups/{id}/{relationship}": {
            "get": {
                "tags": [
                    "Access Control - Group Management"
                ],
                "deprecated": false,
                "description": "Group objects have relationships to other objects. As mentioned in the  [Relationships](https://gtidocs.virustotal.com/reference/relationships) section, those related objects can be retrieved by sending `GET` requests to the relationship URL. \n\nThe relationships supported by group objects are described in the [Group object section](https://gtidocs.virustotal.com/reference/group-object).\n",
                "operationId": "groups-relationships",
                "parameters": [
                    {
                        "description": "Group ID.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Relationship name (see [table](ref:group-object#relationships))",
                        "in": "path",
                        "name": "relationship",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Maximum number of related objects to retrieve",
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Continuation cursor",
                        "in": "query",
                        "name": "cursor",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get objects related to a group"
            }
        },
        "/users/{id}/api_usage": {
            "get": {
                "tags": [
                    "Access Control - Quota Management"
                ],
                "deprecated": false,
                "description": "This endpoint retrieves information about a the API usage, broken down by endpoint, of an user in a specific range of days (last 30 days by default).  \nThe period of time can be delimited by the two query parameters **start_date** and **end_date**, being the first and last day when API usage data will be retrieved, respectively.  \nThe data available includes only the last 60 natural days.\n\n> \ud83d\udea7 Time range restrictions\n> \n> The maximum range of time allowed by this endpoint is 30 days. If a greater range of time is specified, this endpoint will return an error message as response.\n\nThe user can be retrieved either by user ID or by API key, but the latter only works if the requester is the user himself or an administrator of a group the user belongs to.\n\n```json Example response\n{\n  \"data\": {\n    \"daily\": {\n      \"2020-08-10\": {\n        \"urls\": 2\n      },\n      \"2020-08-11\": {\n        \"domains\": 1,\n        \"file_relationships\": 1,\n        \"files\": 1\n      },\n      \"2020-08-12\": {\n        \"analyses\": 25,\n        \"file_analyse\": 3,\n        \"files\": 6\n      },\n      \"2020-08-17\": {\n        \"urls\": 3\n      },\n      \"2020-08-18\": {\n        \"urls\": 1\n      },\n      \"2020-08-20\": {\n        \"file_download\": 36,\n        \"file_relationships\": 5,\n        \"files\": 1\n      },\n      \"2020-08-21\": {\n        \"file_analyse\": 1,\n        \"file_download\": 92,\n        \"files\": 1\n      },\n      \"2020-08-23\": {\n        \"analyses\": 5,\n        \"file_analyse\": 1\n      },\n      \"2020-08-25\": {\n        \"file_download\": 51\n      },\n      \"2020-08-26\": {\n        \"file_download\": 51\n      },\n      \"2020-08-28\": {\n        \"file_download\": 14\n      },\n      \"2020-08-31\": {\n        \"file_download\": 6\n      },\n      \"2020-09-01\": {\n        \"file_download\": 81\n      },\n      \"2020-09-02\": {\n        \"file_relationships\": 5,\n        \"graphs\": 1\n      },\n      \"2020-09-03\": {\n        \"file_relationships\": 6,\n        \"graph_comments\": 1,\n        \"graph_items\": 3,\n        \"graphs\": 2,\n        \"retrohunt_jobs\": 2\n      },\n      \"2020-09-05\": {\n        \"comment_relationships\": 1,\n        \"comments\": 4,\n        \"domain_comments\": 1,\n        \"domain_graphs\": 2,\n        \"domain_relationships\": 1,\n        \"file_analyse\": 1,\n        \"statistics\": 1\n      },\n      \"2020-09-06\": {\n        \"file_behaviours\": 6,\n        \"file_relationships\": 2,\n        \"graph_comments\": 1,\n        \"graphs\": 5\n      },\n      \"2020-09-07\": {\n        \"domain_relationships\": 1,\n        \"intelligence_search\": 5,\n        \"resolutions\": 1,\n        \"search\": 6,\n        \"submissions\": 1,\n        \"url_relationships\": 1,\n        \"urls\": 2\n      }\n    },\n    \"total\": {\n      \"analyses\": 30,\n      \"comment_relationships\": 1,\n      \"comments\": 4,\n      \"domain_comments\": 1,\n      \"domain_graphs\": 2,\n      \"domain_relationships\": 2,\n      \"domains\": 1,\n      \"file_analyse\": 6,\n      \"file_behaviours\": 6,\n      \"file_download\": 331,\n      \"file_relationships\": 19,\n      \"files\": 9,\n      \"graph_comments\": 2,\n      \"graph_items\": 3,\n      \"graphs\": 8,\n      \"intelligence_search\": 5,\n      \"resolutions\": 1,\n      \"retrohunt_jobs\": 2,\n      \"search\": 6,\n      \"statistics\": 1,\n      \"submissions\": 1,\n      \"url_relationships\": 1,\n      \"urls\": 8\n    }\n  }\n}\n```\n",
                "operationId": "user-api-usage",
                "parameters": [
                    {
                        "description": "User ID or API key",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "A string in format YYYYMMDD",
                        "in": "query",
                        "name": "start_date",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "A string in format YYYYMMDD",
                        "in": "query",
                        "name": "end_date",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get a user\u2019s API usage"
            }
        },
        "/users/{id}/overall_quotas": {
            "get": {
                "tags": [
                    "Access Control - Quota Management"
                ],
                "deprecated": false,
                "description": "This endpoint returns a summary of a user's overall quotas including:\n\n- `allowed`: \\<_integer_> quota limit.\n- `inherited_from`: \\<_string_> group from which the quota is inherited.\n- `used`: \\<_integer_> how many quota has been used.\n\nConsumption data based on natural month and UTC.\n\n```json Example\n{\n  \"data\": {\n    \"api_requests_daily\": {\n      \"group\": {\n        \"allowed\": 99000000,\n        \"inherited_from\": \"company\",\n        \"used\": 45073\n      },\n      \"user\": {\n        \"allowed\": 1000000000,\n        \"used\": 17\n      }\n    },\n    \"api_requests_hourly\": {\n      \"group\": {\n        \"allowed\": 3300000,\n        \"inherited_from\": \"company\",\n        \"used\": 653\n      },\n      \"user\": {\n        \"allowed\": 60000000000,\n        \"used\": 0\n      }\n    },\n    \"api_requests_monthly\": {\n      \"group\": {\n        \"allowed\": 2000000000,\n        \"inherited_from\": \"company\",\n        \"used\": 142176\n      },\n      \"user\": {\n        \"allowed\": 1000000000,\n        \"used\": 137\n      }\n    }\n  }\n}\n```\n",
                "operationId": "get-user-overall-quotas",
                "parameters": [
                    {
                        "description": "User ID or API key",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get a user\u2019s quota summary"
            }
        },
        "/groups/{id}/api_usage": {
            "get": {
                "tags": [
                    "Access Control - Quota Management"
                ],
                "deprecated": false,
                "description": "This endpoint retrieves information about a the API usage, broken down by endpoint, of a group in a specific range of days (last 30 days by default).  \nThe period of time can be delimited by the two query parameters **start_date** and **end_date**, being the first and last day when API V3 usage data will be retrieved, respectively.  \nThe data available includes only the last 60 natural days.\n\n> \ud83d\udea7 Time range restrictions\n> \n> The maximum range of time allowed by this endpoint is 30 days. If a greater range of time is specified, this endpoint will return an error message as response.\n\nTo use this endpoint and get the API consumption of a certain group, you must be an administrator of that group.\n\n```json Example response\n\"daily\": {\n            \"2019-10-22\": {\n                \"search\": 1\n            },\n            \"2019-10-23\": {\n                \"file_behaviours\": 1,\n                \"file_comments\": 1,\n                \"file_graphs\": 1,\n                \"file_relationships\": 20,\n                \"files\": 3,\n                \"intelligence_search\": 3,\n                \"item_vote\": 1\n            },\n            \"2019-10-24\": {\n                \"intelligence_search\": 2\n            },\n            \"2019-10-25\": {\n                \"files\": 10,\n                \"intelligence_search\": 3\n            },\n            \"2019-10-28\": {\n                \"intelligence_search\": 2\n            },\n            \"2019-10-29\": {\n                \"url_submission\": 1\n            },\n            \"2019-10-30\": {\n                \"url_submission\": 1\n            },\n            \"2019-10-31\": {\n                \"domain_comments\": 9,\n                \"domain_graphs\": 9,\n                \"domain_relationships\": 90,\n                \"file_upload_url\": 1,\n                \"intelligence_search\": 30,\n                \"ip_addresses\": 2,\n                \"ip_addresses_comments\": 4,\n                \"ip_addresses_graphs\": 4,\n                \"ip_addresses_relationships\": 28,\n                \"item_vote\": 13,\n                \"url_submission\": 1\n            },\n            \"2019-11-04\": {\n                \"file_behaviours\": 2,\n                \"file_comments\": 2,\n                \"file_graphs\": 2,\n                \"file_relationships\": 40,\n                \"files\": 8,\n                \"intelligence_search\": 4,\n                \"item_vote\": 2\n            },\n            \"2019-11-05\": {\n                \"graphs\": 1,\n                \"intelligence_search\": 1\n            },\n            \"2019-11-06\": {\n                \"domains\": 14,\n                \"file_comments\": 1,\n                \"file_relationships\": 11,\n                \"files\": 34,\n                \"ip_addresses\": 10,\n                \"urls\": 10\n            },\n            \"2019-11-08\": {\n                \"analyses\": 1,\n                \"intelligence_search\": 4,\n                \"item_vote\": 3,\n                \"url_comments\": 3,\n                \"url_graphs\": 3,\n                \"url_relationships\": 12,\n                \"url_submission\": 2,\n                \"urls\": 9\n            },\n            \"2019-11-09\": {\n                \"files\": 123,\n                \"intelligence_search\": 13\n            },\n            \"2019-11-12\": {\n                \"file_behaviours\": 16,\n                \"file_comments\": 15,\n                \"file_graphs\": 15,\n                \"file_relationships\": 314,\n                \"files\": 44,\n                \"intelligence_search\": 3,\n                \"item_vote\": 15,\n                \"retrohunt_jobs\": 1\n            },\n            \"2019-11-13\": {\n                \"file_behaviours\": 1,\n                \"file_comments\": 1,\n                \"file_graphs\": 1,\n                \"file_relationships\": 20,\n                \"files\": 2,\n                \"intelligence_search\": 1,\n                \"item_vote\": 1\n            },\n            \"2019-11-18\": {\n                \"analyses\": 12,\n                \"file_behaviours\": 10,\n                \"file_comments\": 10,\n                \"file_graphs\": 10,\n                \"file_relationships\": 215,\n                \"file_upload_url\": 1,\n                \"files\": 51,\n                \"intelligence_search\": 7,\n                \"item_vote\": 10\n            },\n            \"2019-11-19\": {\n                \"domain_comments\": 1,\n                \"domain_graphs\": 1,\n                \"domain_relationships\": 10,\n                \"file_behaviours\": 9,\n                \"file_comments\": 9,\n                \"file_graphs\": 9,\n                \"file_relationships\": 180,\n                \"files\": 9,\n                \"intelligence_search\": 11,\n                \"item_vote\": 10\n            },\n            \"2019-11-20\": {\n                \"file_behaviours\": 5,\n                \"file_comments\": 5,\n                \"file_graphs\": 5,\n                \"file_relationships\": 100,\n                \"files\": 21,\n                \"intelligence_search\": 16,\n                \"item_vote\": 5\n            },\n            \"2019-11-21\": {\n                \"intelligence_search\": 8,\n                \"item_vote\": 9,\n                \"url_comments\": 9,\n                \"url_graphs\": 9,\n                \"url_relationships\": 36,\n                \"urls\": 24\n            }\n        },\n        \"total\": {\n            \"analyses\": 13,\n            \"domain_comments\": 10,\n            \"domain_graphs\": 10,\n            \"domain_relationships\": 100,\n            \"domains\": 54,\n            \"file_behaviours\": 44,\n            \"file_comments\": 44,\n            \"file_download\": 309,\n            \"file_graphs\": 43,\n            \"file_relationships\": 900,\n            \"file_upload_url\": 2,\n            \"files\": 551,\n            \"graphs\": 1,\n            \"intelligence_search\": 189,\n            \"ip_addresses\": 14,\n            \"ip_addresses_comments\": 6,\n            \"ip_addresses_graphs\": 4,\n            \"ip_addresses_relationships\": 39,\n            \"item_vote\": 69,\n            \"retrohunt_jobs\": 1,\n            \"search\": 3,\n            \"url_comments\": 12,\n            \"url_graphs\": 12,\n            \"url_relationships\": 48,\n            \"url_submission\": 5,\n            \"urls\": 53\n        }\n    }\n```\n",
                "operationId": "group-api-usage",
                "parameters": [
                    {
                        "description": "Group ID",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "A string in format YYYYMMDD",
                        "in": "query",
                        "name": "start_date",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "A string in format YYYYMMDD",
                        "in": "query",
                        "name": "end_date",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get a group\u2019s API usage"
            }
        },
        "/groups/{id}/relationships/service_accounts": {
            "get": {
                "tags": [
                    "Access Control - Service Account Management"
                ],
                "deprecated": false,
                "description": "Get all the Service Accounts belonging to your Google Threat Intelligence group.\n",
                "operationId": "get-service-accounts-of-a-group",
                "parameters": [
                    {
                        "description": "Group ID.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get Service Accounts of a group"
            },
            "post": {
                "tags": [
                    "Access Control - Service Account Management"
                ],
                "deprecated": false,
                "description": "Create a new Service Account inside your Google Threat Intelligence group by only providing a descriptive identifier which must be unique inside your group.\n",
                "operationId": "create-a-new-service-account",
                "parameters": [
                    {
                        "description": "Group ID.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "description": "List of Unique Service Account objects (only 'id' param is needed) within your group.",
                                        "format": "json",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Create a new Service Account"
            }
        },
        "/service_accounts/{id}": {
            "get": {
                "tags": [
                    "Access Control - Service Account Management"
                ],
                "deprecated": false,
                "description": "Get the information about a [Service Account](https://gtidocs.virustotal.com/reference/service-accounts-object) object.\n",
                "operationId": "get-a-service-account-object",
                "parameters": [
                    {
                        "description": "Service Account ID (with the form <group ID>_<service account ID>",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get a Service Account object"
            }
        },
        "/users/{id}": {
            "delete": {
                "tags": [
                    "Access Control - User Management"
                ],
                "deprecated": false,
                "description": "This request deletes a given user. A user account can only be deleted by its owner, a 403 error is returned otherwise.\n\nAn additional `x-user-password` header is required, which is used as confirmation.\n",
                "operationId": "delete-user-id",
                "parameters": [
                    {
                        "description": "User ID or API key",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "User password, needed as confirmation.",
                        "in": "header",
                        "name": "x-user-password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"error\": {\n    \"code\": \"ForbiddenError\",\n    \"message\": \"You are not authorized to perform the requested operation\"\n  }\n}"
                                    }
                                },
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "403"
                    }
                },
                "summary": "Delete a user"
            },
            "get": {
                "tags": [
                    "Access Control - User Management"
                ],
                "deprecated": false,
                "description": "This endpoint retrieves information about a user, including the privileges and quotas associated to the user. The user can be retrieved either by user ID or by API key, but the former only works if the requester is the user himself or an administrator of a group the user belongs to.\n\nReturns an [User](https://gtidocs.virustotal.com/reference/user-object) object.\n",
                "operationId": "user",
                "parameters": [
                    {
                        "description": "User ID or API key",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "summary": "Get a user object"
            },
            "patch": {
                "tags": [
                    "Access Control - User Management"
                ],
                "deprecated": false,
                "description": "This request accepts a JSON body containing the user attributes to update. Attributes not present in the request body remain the same. It returns the updated [User](https://gtidocs.virustotal.com/reference/user-object) object.\n",
                "operationId": "patch-user-id",
                "parameters": [
                    {
                        "description": "User ID or API key",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "description": "User object",
                                        "format": "json",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "data"
                                ],
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    }
                },
                "summary": "Update a user object"
            }
        },
        "/users/{id}/relationships/{relationship}": {
            "get": {
                "tags": [
                    "Access Control - User Management"
                ],
                "deprecated": false,
                "description": "This endpoint is the same as [/users/{id}/{relationship}](https://gtidocs.virustotal.com/reference/users-relationships) except it returns just the related object's IDs (and context attributes, if any) instead of returning all attributes.\n",
                "operationId": "get-users-relationships-ids",
                "parameters": [
                    {
                        "description": "Username or API key",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Relationship name (see [table](ref:user-object#relationships))",
                        "in": "path",
                        "name": "relationship",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Maximum number of related objects to retrieve",
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "default": 10,
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Continuation cursor",
                        "in": "query",
                        "name": "cursor",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get object descriptors related to a user"
            }
        },
        "/users/{id}/{relationship}": {
            "get": {
                "tags": [
                    "Access Control - User Management"
                ],
                "deprecated": false,
                "description": "Users are related to other objects in our dataset. As mentioned in the [Relationships](https://gtidocs.virustotal.com/reference/relationships) section, those related objects can be retrieved by sending `GET` requests to this API endpoint.\n\nSome relationships are only accessible to their account's owners and their group's admins.\n\nThe supported relationships are documented in the [User](https://gtidocs.virustotal.com/reference/user-object#relationships) API object page.\n",
                "operationId": "users-relationships",
                "parameters": [
                    {
                        "description": "Username or API key",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Relationship name (see [table](ref:user-object#relationships))",
                        "in": "path",
                        "name": "relationship",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Maximum number of related objects to retrieve",
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "default": 10,
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Continuation cursor",
                        "in": "query",
                        "name": "cursor",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get objects related to a user"
            }
        },
        "/feeds/domains/hourly/{time}": {
            "get": {
                "tags": [
                    "IoC Feeds - Domain intelligence feed"
                ],
                "deprecated": false,
                "description": "> \ud83d\udea7 Special privileges required\n> \n> Domain feeds endpoints are only available to users with a Domain feeds license. [Contact us](https://www.virustotal.com/gui/contact-us/) for more information.\n\nThis endpoint returns a single package containing all minutely packages returned in [`/feeds/domains/{time}`](https://gtidocs.virustotal.com/reference/feedsdomains2time) endpoint for a given hour. The returned file is a .tar.bz2 file which contains the 60 minutely feeds for that hour.\n\nThe provided time argument must be in `YYYYMMDDhh` format. For example, time `2021012211` returns the batches correspoding to January 21st 2021 11:00 - 11:59 UTC. You can download batches up to 7 days old, and the most recent batch has always a 2 hours lag with respect with to the current time. This means that if the current time in UTC is T you can download batch T-2h but any more recent.\n\nSuccessful calls to this endpoint will return a `302` redirect response to a URL from which the final batch file will be downloaded.\n",
                "operationId": "feedsdomainshourly2time",
                "parameters": [
                    {
                        "description": "A string in format YYYYMMDDhh",
                        "in": "path",
                        "name": "time",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get an hourly domain feed batch"
            }
        },
        "/feeds/domains/{time}": {
            "get": {
                "tags": [
                    "IoC Feeds - Domain intelligence feed"
                ],
                "deprecated": false,
                "description": "> \ud83d\udea7 Special privileges required\n> \n> Domain feeds endpoints are only available to users with a Domain feeds license. [Contact us](https://www.virustotal.com/gui/contact-us/) for more information.\n\nWith this endpoint you can download an individual one-minute batch by providing a time consisting of a string with format `YYYYMMDDhhmm`. Time `201912010802` will return the batch corresponding to December 1st, 2019 08:02 UTC. You can download batches up to 7 days old, and the most recent batch has always a 60 minutes lag with respect with to the current time. This means that if the current time in UTC is `T` you can download batch `T-60m` but not `T-59m` or any more recent.\n\nSuccessful calls to this endpoint will return a `302` redirect response to a URL from which the final batch file will be downloaded.\n\n> \ud83d\udea7 Missing batches\n> \n> Missing batches are rare, but still can happen occasionally. This doesn't mean that you are losing any Domains in the feed, it just means that no batches were generated on a specific minute. The client code should be ready to accept a `404` error while retrieving a batch and proceed with the following one. However, receiving multiple `404` errors in a row for consecutive batches shouldn't happen and should be treated as an error condition.\n\nThe downloaded file is a bzip2 compressed UTF-8 text file contains one JSON structure per line, where the structure represents a URL object as returned by the [GET /domains/{domain}](https://gtidocs.virustotal.com/reference/domain-info) endpoint.\n",
                "operationId": "feedsdomains2time",
                "parameters": [
                    {
                        "description": "A string in format YYYYMMDDhhmm",
                        "in": "path",
                        "name": "time",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get a minutely domain feed batch"
            }
        },
        "/feeds/files/hourly/{time}": {
            "get": {
                "tags": [
                    "IoC Feeds - File intelligence feed"
                ],
                "deprecated": false,
                "description": "> \ud83d\udea7 Special privileges required\n> \n> File feeds endpoints are only available to users with a File feeds license. [Contact us](https://www.virustotal.com/gui/contact-us/) for more information.\n\nThis endpoint returns a single package containing all minutely packages returned in [/feeds/files/{time}](https://gtidocs.virustotal.com/reference/feeds-file) endpoint for a given hour. The returned file is a `.tar.bz2` file which contains the 60 minutely feeds for that hour.\n\nThe provided `time` argument must be in `YYYYMMDDhh` format. For example, time `2021012211` returns the batches correspoding to January 21st 2021 11:00 - 11:59 UTC. You can download batches up to 7 days old, and the most recent batch has always a 2 hours lag with respect with to the current time. This means that if the current time in UTC is T you can download batch T-2h but any more recent.\n\nSuccessful calls to this endpoint will return a `302` redirect response to a URL from which the final batch file will be downloaded.\n\nThe downloaded file is a bzip2 tar file which include 60 files, one for each minute, these are UTF-8 text file which contains one JSON structure per line, where the structure represents a file object as returned by the GET /files/{id} endpoint. Besides the standard attributes usually found in all file objects, two additional context attributes are also included: download_url and submitter. The download_url attribute is a link that can be used to download the file itself, while submitter is a dictionary with lossy-ciphered non-identifiable information about who submitted the file to Google Threat Intelligence. Notice however that submitter is not present in all files as some files are re-analyzed by Google TI without being submitted by some external user.\n",
                "operationId": "feeds-file-hourly",
                "parameters": [
                    {
                        "description": "A string in format YYYYMMDDhh",
                        "in": "path",
                        "name": "time",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get a hourly file feed batch"
            }
        },
        "/feeds/files/{time}": {
            "get": {
                "tags": [
                    "IoC Feeds - File intelligence feed"
                ],
                "deprecated": false,
                "description": "> \ud83d\udea7 Special privileges required\n> \n> File feeds endpoints are only available to users with a File feeds license. [Contact us](https://www.virustotal.com/gui/contact-us/) for more information.\n\nWith this endpoint you can download an individual one-minute batch by providing a `time` consisting of a string with format `YYYYMMDDhhmm`. Time `201912010802` will return the batch corresponding to December 1st, 2019 08:02 UTC. You can download batches up to 7 days old, and the most recent batch has always a 60 minutes lag respecting to the current time. This means that if the current time in UTC is `T` you can download batch `T-60m` but not `T-59m` or any more recent.\n\nSuccessful calls to this endpoint will return a `302` redirect response to a URL from which the final batch file will be downloaded.\n\n> \ud83d\udea7 Missing batches\n> \n> Missing batches are rare, but still can happen occasionally. This doesn't mean that you are losing any files in the feed, it just means that no batches were generated on a specific minute. The client code should be ready to accept a `404` error while retrieving a batch and proceed with the following one. However, receiving multiple `404` errors in a row for consecutive batches shouldn't happen and should be treated as an error condition.\n\nThe downloaded file is a bzip2 compressed UTF-8 text file contains one JSON structure per line, where the structure represents a file object as returned by the [GET /files/{id}](https://gtidocs.virustotal.com/reference/file-info) endpoint. Besides the standard attributes usually found in all file objects, two additional context attributes are also included: `download_url` and `submitter`. The `download_url` attribute is a link that can be used to download the file itself, while `submitter` is a dictionary with lossy-ciphered non-identifiable information about who submitted the file to Google Threat Intelligence. Notice however that `submitter` is not present in all files, it will be absent when files are submitted via the web interface without triggering a new analysis due to recent submissions, or when files are re-analyzed by Google TI without being submitted by some external user.\n",
                "operationId": "feeds-file",
                "parameters": [
                    {
                        "description": "A string in format YYYYMMDDhhmm",
                        "in": "path",
                        "name": "time",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        },
                        "description": "200"
                    }
                },
                "summary": "Get a per-minute file feed batch"
            }
        },
        "/feeds/files/{token}/download": {
            "get": {
                "tags": [
                    "IoC Feeds - File intelligence feed"
                ],
                "deprecated": false,
                "description": "> \ud83d\udea7 Special privileges required\n> \n> File feeds endpoints are only available to users with a File feeds license. For this particular endpoint, download file privilege is also required. [Contact us](https://www.virustotal.com/gui/contact-us/) for more information.\n\nEach JSON object contained in the file feed packages include a URL to this API endpoint to download the corresponding file. The link only works during the feed's lifetime, which is 7 days. Check [/feeds/files/{time}](https://gtidocs.virustotal.com/reference/feeds-file) for more information.\n",
                "operationId": "file-feed-download",
                "parameters": [
                    {
                        "description": "Download token. It can be found inside the file's properties in the file feed.",
                        "in": "path",
                        "name": "token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Download a file published in the file feed"
            }
        },
        "/feeds/ip_addresses/hourly/{time}": {
            "get": {
                "tags": [
                    "IoC Feeds - IP intelligence feed"
                ],
                "deprecated": false,
                "description": "> \ud83d\udea7 Special privileges required\n> \n> IP feeds endpoints are only available to users with a IP feeds license. [Contact us](https://www.virustotal.com/gui/contact-us/) for more information.\n\nThis endpoint returns a single package containing all minutely packages returned in [`/feeds/ip_addresses/{time}`](https://gtidocs.virustotal.com/reference/feedsip_addressestime) endpoint for a given hour. The returned file is a .tar.bz2 file which contains the 60 minutely feeds for that hour.\n\nThe provided time argument must be in `YYYYMMDDhh` format. For example, time `2021012211` returns the batches correspoding to January 21st 2021 11:00 - 11:59 UTC. You can download batches up to 7 days old, and the most recent batch has always a 2 hours lag with respect with to the current time. This means that if the current time in UTC is T you can download batch T-2h but any more recent.\n\nSuccessful calls to this endpoint will return a `302` redirect response to a URL from which the final batch file will be downloaded.\n",
                "operationId": "feedsip_addresseshourly2time",
                "parameters": [
                    {
                        "description": "A string in format YYYYMMDDhh",
                        "in": "path",
                        "name": "time",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get an hourly IP address feed batch"
            }
        },
        "/feeds/ip_addresses/{time}": {
            "get": {
                "tags": [
                    "IoC Feeds - IP intelligence feed"
                ],
                "deprecated": false,
                "description": "> \ud83d\udea7 Special privileges required\n> \n> IP feeds endpoints are only available to users with a IP feeds license. [Contact us](https://www.virustotal.com/gui/contact-us/) for more information.\n\nWith this endpoint you can download an individual one-minute batch by providing a time consisting of a string with format `YYYYMMDDhhmm`. Time `201912010802` will return the batch corresponding to December 1st, 2019 08:02 UTC. You can download batches up to 7 days old, and the most recent batch has always a 60 minutes lag with respect with to the current time. This means that if the current time in UTC is `T` you can download batch `T-60m` but not `T-59m` or any more recent.\n\nSuccessful calls to this endpoint will return a `302` redirect response to a URL from which the final batch file will be downloaded.\n\n> \ud83d\udea7 Missing batches\n> \n> Missing batches are rare, but still can happen occasionally. This doesn't mean that you are losing any IP addresses in the feed, it just means that no batches were generated on a specific minute. The client code should be ready to accept a `404` error while retrieving a batch and proceed with the following one. However, receiving multiple `404` errors in a row for consecutive batches shouldn't happen and should be treated as an error condition.\n\nThe downloaded file is a bzip2 compressed UTF-8 text file contains one JSON structure per line, where the structure represents a URL object as returned by the [GET /ip_addresses/{ip}](https://gtidocs.virustotal.com/reference/ip-info) endpoint.\n",
                "operationId": "feedsip_addressestime",
                "parameters": [
                    {
                        "description": "A string in format YYYYMMDDhhmm",
                        "in": "path",
                        "name": "time",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get a minutely IP address feed batch"
            }
        },
        "/feeds/file_behaviours/hourly/{time}": {
            "get": {
                "tags": [
                    "IoC Feeds - Sandbox analyses feed"
                ],
                "deprecated": false,
                "description": "> \ud83d\udea7 Special privileges required\n> \n> Sandbox analyses feeds endpoints are only available to users with a Sandbox feeds license. [Contact us](https://www.virustotal.com/gui/contact-us/) for more information.\n\nThis endpoint returns a single package containing all minutely packages returned in [/feeds/file_behaviours/{time}](https://gtidocs.virustotal.com/reference/feeds-file-behaviour) endpoint for a given hour. The returned file is a `.tar.bz2` file which contains the 60 minutely feeds for that hour.\n\nThe provided `time` argument must be in `YYYYMMDDhh` format. For example, time `2021012211` returns the batches correspoding to January 21st 2021 11:00 - 11:59 UTC. You can download batches up to 7 days old, and the most recent batch has always a 2 hours lag with respect with to the current time. This means that if the current time in UTC is T you can download batch T-2h but any more recent.\n\nSuccessful calls to this endpoint will return a `302` redirect response to a URL from which the final batch file will be downloaded.\n",
                "operationId": "feeds-file-behaviour-hourly",
                "parameters": [
                    {
                        "description": "A string in format YYYYMMDDhh",
                        "in": "path",
                        "name": "time",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "200"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        },
                        "description": "400"
                    }
                },
                "summary": "Get an hourly file behaviour feed batch"
            }
        },
        "/feeds/file_behaviours/{time}": {
            "get": {
                "tags": [
                    "IoC Feeds - Sandbox analyses feed"
                ],
                "deprecated": false,
[...]
