{
  "openapi": "3.0.0",
  "info": {
    "title": "IPQualityScore API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.ipqualityscore.com/api/json"
    }
  ],
  "paths": {
    "/ip": {
      "get": {
        "operationId": "ip_reputation",
        "summary": "Check IP Reputation",
        "description": "Checks the reputation of an IP address to see if it is a VPN, Proxy, Tor, or associated with malicious activity.",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The IP address to lookup."
          },
          {
            "name": "strictness",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ],
              "default": 0
            },
            "description": "How strict the lookup should be. 0 is lowest strictness, 3 is highest."
          },
          {
            "name": "allow_public_access_points",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Allow Corporate/Public Connections?"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful IP Lookup"
          }
        }
      }
    },
    "/email": {
      "get": {
        "operationId": "email_validation",
        "summary": "Validate Email Address",
        "description": "Checks an email address for valid syntax, active mail server records, and disposable email provider status.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The email address to validate."
          },
          {
            "name": "fast",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Speeds up the API response time by bypassing certain checks."
          },
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 7
            },
            "description": "Maximum number of seconds to wait for a response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Email Lookup"
          }
        }
      }
    },
    "/url": {
      "get": {
        "operationId": "url_scanner",
        "summary": "Scan Malicious URL",
        "description": "Checks if a URL is suspected of phishing, malware, or spam.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The URL to scan (must be URL encoded)."
          },
          {
            "name": "strictness",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ],
              "default": 0
            },
            "description": "How strict the lookup should be."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful URL Scan"
          }
        }
      }
    },
    "/phone": {
      "get": {
        "operationId": "phone_validation",
        "summary": "Validate Phone Number",
        "description": "Retrieve details about a phone number and check its reputation.",
        "parameters": [
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The phone number to validate."
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Two letter country code to assume for the number."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Phone Validation"
          }
        }
      }
    },
    "/leaked/email": {
      "get": {
        "operationId": "leaked_data_email",
        "summary": "Check Leaked Data (Email)",
        "description": "Verify if an email address has been exposed in known data breaches.",
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The email address to check against leaked databases."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Leaked Data Lookup"
          }
        }
      }
    },
    "/malware/scan": {
      "get": {
        "operationId": "malware_scanner",
        "summary": "Malware Scanner",
        "description": "Analyze a file or URL in a live sandbox environment to detect threats.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The URL of the file to scan for malware."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Malware Scan"
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "account_info",
        "summary": "Get Account Details",
        "description": "Retrieve your account's credit balance and usage statistics.",
        "responses": {
          "200": {
            "description": "Successful retrieval of account details"
          }
        }
      }
    },
    "/requests/{type}/list": {
      "get": {
        "operationId": "request_list",
        "summary": "Retrieve Request List",
        "description": "Retrieve historical logs of previous requests.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["proxy", "email", "devicetracker", "mobiletracker"]
            },
            "description": "The type of requests to retrieve."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page number to retrieve."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "The limit of results per page."
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter requests from this date (YYYY-MM-DD)."
          },
          {
            "name": "stop_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter requests until this date (YYYY-MM-DD)."
          },
          {
            "name": "min_fraud_score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter requests with minimum fraud score."
          },
          {
            "name": "max_fraud_score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter requests with maximum fraud score."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of requests"
          }
        }
      }
    },
    "/postback": {
      "post": {
        "operationId": "retrieve_request",
        "summary": "Retrieve Request by ID",
        "description": "Retrieve or update previously completed request data.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["request_id"],
                "properties": {
                  "request_id": {
                    "type": "string",
                    "description": "The unique request ID from a previous lookup."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval"
          }
        }
      }
    },
    "/report": {
      "post": {
        "operationId": "report_fraud",
        "summary": "Report Fraud",
        "description": "Submit fraudulent data to train ML risk-scoring models.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ip": {
                    "type": "string",
                    "description": "IPv4 or IPv6 address to report."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address to report."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number to report."
                  },
                  "country": {
                    "type": "string",
                    "description": "Country code or name for the reported phone number."
                  },
                  "request_id": {
                    "type": "string",
                    "description": "The unique request ID to report."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful fraud report submission"
          }
        }
      }
    },
    "/blocklist/list/{api_key}": {
      "get": {
        "operationId": "blocklist_list",
        "summary": "List Blocklist Entries",
        "description": "List custom blocklist entries.",

        "responses": {
          "200": {
            "description": "Successful retrieval of blocklist"
          }
        }
      }
    },
    "/blocklist/create/{api_key}": {
      "post": {
        "operationId": "blocklist_create",
        "summary": "Create Blocklist Entry",
        "description": "Add a value to the custom blocklist.",

        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "value", "value_type"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["proxy", "url", "email", "phone", "mobiletracker", "devicetracker"],
                    "description": "The type of blocklist to modify."
                  },
                  "value": {
                    "type": "string",
                    "description": "The value to add (e.g. IP, email, domain, phone)."
                  },
                  "value_type": {
                    "type": "string",
                    "enum": ["ip", "cidr", "isp", "email", "domain", "phone", "deviceid"],
                    "description": "The value type identifier."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful creation of blocklist entry"
          }
        }
      }
    },
    "/blocklist/delete/{api_key}": {
      "post": {
        "operationId": "blocklist_delete",
        "summary": "Delete Blocklist Entry",
        "description": "Remove a value from the custom blocklist.",

        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "value", "value_type"],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of blocklist to modify."
                  },
                  "value": {
                    "type": "string",
                    "description": "The value to delete."
                  },
                  "value_type": {
                    "type": "string",
                    "description": "The value type."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful deletion of blocklist entry"
          }
        }
      }
    },
    "/allowlist/list/{api_key}": {
      "get": {
        "operationId": "allowlist_list",
        "summary": "List Allowlist Entries",
        "description": "List custom allowlist entries.",

        "responses": {
          "200": {
            "description": "Successful retrieval of allowlist"
          }
        }
      }
    },
    "/allowlist/create/{api_key}": {
      "post": {
        "operationId": "allowlist_create",
        "summary": "Create Allowlist Entry",
        "description": "Add a value to the custom allowlist.",

        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "value", "value_type"],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of allowlist to modify."
                  },
                  "value": {
                    "type": "string",
                    "description": "The value to add."
                  },
                  "value_type": {
                    "type": "string",
                    "description": "The value type."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful creation of allowlist entry"
          }
        }
      }
    },
    "/allowlist/delete/{api_key}": {
      "post": {
        "operationId": "allowlist_delete",
        "summary": "Delete Allowlist Entry",
        "description": "Remove a value from the custom allowlist.",

        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "value", "value_type"],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of allowlist to modify."
                  },
                  "value": {
                    "type": "string",
                    "description": "The value to delete."
                  },
                  "value_type": {
                    "type": "string",
                    "description": "The value type."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful deletion of allowlist entry"
          }
        }
      }
    }
  }
}