{
    "openapi": "3.0.0",
    "info": {
        "title": "AbuseIPDB API",
        "version": "v2",
        "description": "An API for reporting and checking IP addresses against the AbuseIPDB database, \nenabling users to contribute to and query a global repository of malicious IP activity.\n"
    },
    "servers": [
        {
            "url": "https://api.abuseipdb.com/api/v2",
            "description": "Production server"
        }
    ],
    "paths": {
        "/report": {
            "post": {
                "summary": "Report an IP address",
                "description": "Submit a report of a malicious IP address, including details such as categories of abuse,\ncomments, and an optional timestamp.\n",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "ip",
                                    "categories"
                                ],
                                "properties": {
                                    "ip": {
                                        "type": "string",
                                        "description": "The IP address to report (e.g., \"127.0.0.1\")."
                                    },
                                    "categories": {
                                        "type": "string",
                                        "description": "A comma-separated list of category IDs (e.g., \"18,22\")."
                                    },
                                    "comment": {
                                        "type": "string",
                                        "description": "Additional details about the reported activity."
                                    },
                                    "timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The event timestamp in ISO 8601 format (e.g., \"2023-10-18T11:25:11-04:00\")."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "schema": {
                                    "type": "integer"
                                },
                                "description": "The total number of requests allowed per day."
                            },
                            "X-RateLimit-Remaining": {
                                "schema": {
                                    "type": "integer"
                                },
                                "description": "The number of requests remaining for the current day."
                            },
                            "X-RateLimit-Reset": {
                                "schema": {
                                    "type": "integer"
                                },
                                "description": "The epoch timestamp when the rate limit resets."
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "ipAddress": {
                                                    "type": "string",
                                                    "description": "The reported IP address."
                                                },
                                                "abuseConfidenceScore": {
                                                    "type": "integer",
                                                    "description": "The updated confidence score after the report."
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request (e.g., invalid parameters)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "headers": {
                            "Retry-After": {
                                "schema": {
                                    "type": "integer"
                                },
                                "description": "Seconds to wait before retrying."
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Key",
                "description": "API key required for all requests, obtainable from your AbuseIPDB account dashboard."
            }
        },
        "schemas": {
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "detail": {
                                    "type": "string",
                                    "description": "Description of the error."
                                },
                                "status": {
                                    "type": "integer",
                                    "description": "HTTP status code associated with the error."
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "security": [
        {
            "ApiKeyAuth": []
        }
    ]
}