{
    "openapi": "3.0.0",
    "info": {
        "title": "Abuse.ch Malware Bazaar API",
        "version": "1.0.0",
        "description": "Unified endpoint for all Malware Bazaar queries"
    },
    "servers": [
        {
            "url": "https://mb-api.abuse.ch"
        }
    ],
    "components": {
        "securitySchemes": {
            "AuthKeyHeader": {
                "type": "apiKey",
                "in": "header",
                "name": "Auth-Key"
            }
        }
    },
    "paths": {
        "/api/v1/": {
            "post": {
                "summary": "Perform any Malware Bazaar query",
                "operationId": "malwareBazaarQuery",
                "security": [
                    {
                        "AuthKeyHeader": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "query"
                                ],
                                "properties": {
                                    "query": {
                                        "type": "string",
                                        "enum": [
                                            "get_file",
                                            "get_info",
                                            "get_taginfo",
                                            "get_siginfo",
                                            "get_file_type",
                                            "get_clamavinfo",
                                            "get_imphash",
                                            "get_tlsh",
                                            "get_cscb"
                                        ]
                                    },
                                    "sha256_hash": {
                                        "type": "string",
                                        "description": "SHA-256 hash of the file (for get_file)"
                                    },
                                    "hash": {
                                        "type": "string",
                                        "description": "Generic hash field (for get_info)"
                                    },
                                    "tag": {
                                        "type": "string",
                                        "description": "Tag name (for get_taginfo)"
                                    },
                                    "signature": {
                                        "type": "string",
                                        "description": "Signature name (for get_siginfo)"
                                    },
                                    "file_type": {
                                        "type": "string",
                                        "description": "File type (for get_file_type)"
                                    },
                                    "clamav": {
                                        "type": "string",
                                        "description": "ClamAV signature (for get_clamavinfo)"
                                    },
                                    "imphash": {
                                        "type": "string",
                                        "description": "Import hash (for get_imphash)"
                                    },
                                    "tlsh": {
                                        "type": "string",
                                        "description": "TLSH hash (for get_tlsh)"
                                    },
                                    "limit": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Maximum number of results"
                                    }
                                }
                            },
                            "examples": {
                                "get_file": {
                                    "summary": "Retrieve a file by SHA-256",
                                    "value": {
                                        "query": "get_file",
                                        "sha256_hash": "094fd325049b8a9cf6d3e5ef2a6d4cc6a567d7d49c35f8bb8dd9e3c6acf3d78d"
                                    }
                                },
                                "get_info": {
                                    "summary": "Get metadata by hash",
                                    "value": {
                                        "query": "get_info",
                                        "hash": "7de2c1bf58bce09eecc70476747d88a26163c3d6bb1d85235c24a558d1f16754"
                                    }
                                },
                                "get_taginfo": {
                                    "summary": "List samples by tag",
                                    "value": {
                                        "query": "get_taginfo",
                                        "tag": "TrickBot",
                                        "limit": 50
                                    }
                                },
                                "get_siginfo": {
                                    "summary": "List samples by signature",
                                    "value": {
                                        "query": "get_siginfo",
                                        "signature": "TrickBot",
                                        "limit": 50
                                    }
                                },
                                "get_file_type": {
                                    "summary": "List samples by file type",
                                    "value": {
                                        "query": "get_file_type",
                                        "file_type": "elf",
                                        "limit": 10
                                    }
                                },
                                "get_clamavinfo": {
                                    "summary": "List samples by ClamAV detection",
                                    "value": {
                                        "query": "get_clamavinfo",
                                        "clamav": "Doc.Downloader.Emotet-7580152-0",
                                        "limit": 50
                                    }
                                },
                                "get_imphash": {
                                    "summary": "List samples by import hash",
                                    "value": {
                                        "query": "get_imphash",
                                        "imphash": "45d579faec0eaf279c0841b2233727cf",
                                        "limit": 50
                                    }
                                },
                                "get_tlsh": {
                                    "summary": "List samples by TLSH hash",
                                    "value": {
                                        "query": "get_tlsh",
                                        "tlsh": "4FB44AC6A19643BBEE8766FF358AC55DBC13D91C1B4DB4FBC789AA020A31B05ED12350",
                                        "limit": 50
                                    }
                                },
                                "get_cscb": {
                                    "summary": "Retrieve current CSCB block list",
                                    "value": {
                                        "query": "get_cscb"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful request"
                    }
                }
            }
        }
    }
}