{
    "openapi": "3.0.0",
    "info": {
        "title": "urlscan.io APIs",
        "description": "### Introduction\n\nAPI endpoints for urlscan.io and urlscan Pro. Most of these API endpoints\nrequire authentication.\n\nThe fastest way to start working with our APIs is by using one of the many\nexisting commercial or open-source integrations.\n\n### External Resources\n* [urlscan.io website](https://urlscan.io)\n* [urlscan.io Documentation Hub](https://docs.urlscan.io)\n* [urlscan.io API Status](https://status.urlscan.io)\n",
        "version": "1.0.0",
        "contact": {
            "name": "urlscan Support",
            "email": "support@urlscan.io"
        }
    },
    "servers": [
        {
            "url": "https://urlscan.io"
        }
    ],
    "components": {
        "securitySchemes": {
            "apikeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "api-key"
            }
        },
        "schemas": {
            "savedSearchSchema": {
                "type": "object",
                "example": {
                    "search": {
                        "_id": "{{searchId}}",
                        "datasource": "scans",
                        "query": "page.domain:postman.co",
                        "name": "Testsearch",
                        "description": "Saved Search for testing purposes",
                        "longDescription": "This Saved Search was created for testing purposes by Postman",
                        "tlp": "red",
                        "userTags": [
                            "private.privatetag"
                        ],
                        "permissions": [
                            "team:read",
                            "team:write"
                        ]
                    }
                },
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique ID of the Saved Search"
                    },
                    "datasource": {
                        "type": "string",
                        "enum": [
                            "hostnames",
                            "scans"
                        ],
                        "description": "Which data this Saved Search operates on"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Time when the Saved Search was created.",
                        "readOnly": true
                    },
                    "description": {
                        "type": "string",
                        "description": "Short description."
                    },
                    "longDescription": {
                        "type": "string",
                        "description": "Long description."
                    },
                    "name": {
                        "type": "string",
                        "description": "User-facing short name."
                    },
                    "owner": {
                        "type": "string",
                        "readOnly": true,
                        "enum": [
                            "user",
                            "team",
                            "community"
                        ]
                    },
                    "ownerDescription": {
                        "type": "string",
                        "readOnly": true,
                        "description": "User-facing owner description."
                    },
                    "permissions": {
                        "description": "Determine whether other users on the team or on urlscan Pro can see the search.",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "public:read",
                                "team:read",
                                "team:write"
                            ]
                        }
                    },
                    "query": {
                        "type": "string",
                        "description": "Search API query"
                    },
                    "tlp": {
                        "description": "TLP (Traffic Light Protocol) indicator for other users on the urlscan Pro platform",
                        "type": "string",
                        "enum": [
                            "green",
                            "amber",
                            "red"
                        ]
                    },
                    "usertags": {
                        "type": "array",
                        "description": "User-supplied tags to be applied to matching items. Need to be prefixed with `pro.`, `public.`, `private.`, or `team.` to control visibility."
                    }
                }
            },
            "hostnameHistorySchema": {
                "type": "object",
                "properties": {
                    "pageState": {
                        "type": "string",
                        "description": "If the pageState field is set then there are\nadditional results available. Repeat the API call with the\npageState value to get the next batch of results.\n"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "seen_on": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Date in YYYY-MM-DD format"
                                },
                                "source": {
                                    "type": "string",
                                    "enum": [
                                        "ct",
                                        "scan",
                                        "pdns",
                                        "zonefile",
                                        "scan-link",
                                        "scan-cert-subject"
                                    ],
                                    "description": "The source of the observation"
                                },
                                "sub_id": {
                                    "type": "string",
                                    "description": "Observation value, can be empty."
                                },
                                "first_seen": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "First-seen timestamp, ISO8601"
                                },
                                "last_seen": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Last-seen timestamp, ISO8601"
                                },
                                "data_type": {
                                    "type": "string",
                                    "enum": [
                                        "json"
                                    ],
                                    "description": "Indicates if there is additional data in the `data` field.\n"
                                },
                                "data": {
                                    "type": "object",
                                    "description": "Additional JSON content for this record."
                                }
                            }
                        }
                    }
                },
                "example": {
                    "results": [
                        {
                            "seen_on": "2200-01-01",
                            "source": "seenDates",
                            "sub_id": "",
                            "first_seen": "2023-07-28T11:20:15.617Z",
                            "last_seen": "2023-08-04T16:09:09.591Z",
                            "data_type": null,
                            "data": null
                        },
                        {
                            "seen_on": "2200-01-01",
                            "source": "shardDate",
                            "sub_id": "",
                            "first_seen": "2023-07-28T11:20:15.685Z",
                            "last_seen": null,
                            "data_type": null,
                            "data": null
                        },
                        {
                            "seen_on": "2100-01-01",
                            "source": "ct",
                            "sub_id": "",
                            "first_seen": "2023-07-28T11:20:15.617Z",
                            "last_seen": "2023-07-28T11:21:23.599Z",
                            "data_type": null,
                            "data": null
                        },
                        {
                            "seen_on": "2100-01-01",
                            "source": "pdns",
                            "sub_id": "",
                            "first_seen": "2023-07-28T11:21:20.079Z",
                            "last_seen": "2023-08-04T16:09:09.574Z",
                            "data_type": null,
                            "data": null
                        },
                        {
                            "seen_on": "2100-01-01",
                            "source": "pdns",
                            "sub_id": "A",
                            "first_seen": "2023-07-28T11:21:20.079Z",
                            "last_seen": "2023-08-04T16:09:09.574Z",
                            "data_type": null,
                            "data": null
                        },
                        {
                            "seen_on": "2100-01-01",
                            "source": "pdns",
                            "sub_id": "MX",
                            "first_seen": "2023-07-28T11:21:20.174Z",
                            "last_seen": "2023-07-31T11:23:22.848Z",
                            "data_type": null,
                            "data": null
                        },
                        {
                            "seen_on": "2100-01-01",
                            "source": "pdns",
                            "sub_id": "NS",
                            "first_seen": "2023-07-28T11:21:20.128Z",
                            "last_seen": "2023-08-04T11:05:40.130Z",
                            "data_type": null,
                            "data": null
                        },
                        {
                            "seen_on": "2100-01-01",
                            "source": "pdns",
                            "sub_id": "SOA",
                            "first_seen": "2023-07-28T11:21:20.176Z",
                            "last_seen": "2023-07-31T11:23:22.849Z",
                            "data_type": null,
                            "data": null
                        },
                        {
                            "seen_on": "2100-01-01",
                            "source": "scan",
                            "sub_id": "",
                            "first_seen": "2023-07-28T11:23:52.876Z",
                            "last_seen": "2023-08-04T16:09:09.591Z",
                            "data_type": null,
                            "data": null
                        },
                        {
                            "seen_on": "2100-01-01",
                            "source": "zonefile",
                            "sub_id": "",
                            "first_seen": "2023-07-30T03:00:02.440Z",
                            "last_seen": "2023-07-30T03:00:02.444Z",
                            "data_type": null,
                            "data": null
                        },
                        {
                            "seen_on": "2023-08-04",
                            "source": "pdns",
                            "sub_id": "A#91.215.85.14",
                            "first_seen": "2023-08-04T10:09:45.599Z",
                            "last_seen": "2023-08-04T16:09:09.574Z",
                            "data_type": "json",
                            "data": {
                                "ttl": 14400,
                                "rdata": "91.215.85.14",
                                "geoip": {
                                    "country": "RU"
                                },
                                "asn": {
                                    "ip": "91.215.85.14",
                                    "asn": "200593",
                                    "country": "RU",
                                    "registrar": "ripencc",
                                    "date": "2022-12-12",
                                    "description": "PROSPERO-AS, RU",
                                    "route": "91.215.85.0/24"
                                }
                            }
                        }
                    ],
                    "pageState": "xxx"
                }
            },
            "incidentSchema": {
                "example": {
                    "incident": {
                        "_id": "01JJ4AW0AJYSTD0ND423JZCXNK",
                        "scanInterval": 3600,
                        "watchedAttributes": [
                            "detections",
                            "tls"
                        ],
                        "userAgents": [
                            "Chrome on Linux",
                            "Chrome on macOS"
                        ],
                        "userAgentsPerInterval": 1,
                        "countries": [
                            "de",
                            "us"
                        ],
                        "countriesPerInterval": 2,
                        "stopDelaySuspended": 3600,
                        "stopDelayInactive": 86400,
                        "stopDelayMalicious": 90000,
                        "scanIntervalAfterSuspended": 86400,
                        "scanIntervalAfterMalicious": 86400,
                        "owner": "own",
                        "type": "hostname",
                        "observable": "foobar.com",
                        "state": "active",
                        "visibility": "private",
                        "channels": [
                            "b2af2de0-4154-4f97-967f-9a2eb1e76a7c"
                        ],
                        "sourceType": "manual",
                        "stateSize": 3717,
                        "stateCount": 3,
                        "scanIntervalMode": "automatic",
                        "labels": [
                            "hasHTTP",
                            "hasIP",
                            "hasMX",
                            "hasNS"
                        ],
                        "expireAt": "2025-01-24T11:44:52.563Z",
                        "createdAt": "2025-01-21T11:44:52.566Z"
                    }
                },
                "properties": {
                    "incident": {
                        "properties": {
                            "_id": {
                                "type": "string",
                                "description": "The unique incident ID",
                                "readOnly": true
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "hostname",
                                    "ip",
                                    "url"
                                ],
                                "description": "The type of observable",
                                "readOnly": true
                            },
                            "state": {
                                "type": "string",
                                "enum": [
                                    "active",
                                    "closed"
                                ],
                                "description": "Whether the incident is active or closed",
                                "readOnly": true
                            },
                            "observable": {
                                "type": "string",
                                "description": "The observable being monitored."
                            },
                            "visibility": {
                                "type": "string",
                                "enum": [
                                    "unlisted",
                                    "private"
                                ]
                            },
                            "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Time when the incident was created.",
                                "readOnly": true
                            },
                            "expireAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Time when the incident will automatically be closed."
                            },
                            "watchedAttributes": {
                                "type": "array",
                                "description": "Determine which items will be monitored for."
                            },
                            "countries": {
                                "type": "array",
                                "description": "List of countries to scan from as ISO-3166-1 country codes."
                            },
                            "countriesPerInterval": {
                                "type": "integer",
                                "description": "How many countries to use per scan interval."
                            },
                            "userAgents": {
                                "type": "array",
                                "description": "List of HTTP user-agent classes to use for scanning."
                            },
                            "userAgentsPerInterval": {
                                "type": "integer",
                                "description": "How many user agents to use per scan interval."
                            },
                            "stopDelaySuspended": {
                                "type": "integer",
                                "description": "When to automatically close the incident after the observable was suspended."
                            },
                            "stopDelayInactive": {
                                "type": "integer",
                                "description": "When to automatically close the incident after the observable became inactive."
                            },
                            "stopDelayMalicious": {
                                "type": "integer",
                                "description": "When to automatically close the incident after the observable became malicious."
                            },
                            "scanIntervalAfterSuspended": {
                                "type": "integer",
                                "description": "How to change the scan interval after the observable was suspended."
                            },
                            "scanIntervalAfterMalicious": {
                                "type": "integer",
                                "description": "How to change the scan interval after the observable became malicious."
                            },
                            "closeMethod": {
                                "type": "string",
                                "enum": [
                                    "manual",
                                    "automatic"
                                ],
                                "readOnly": true
                            },
                            "channels": {
                                "type": "array",
                                "description": "Channels subscribed to this incident."
                            },
                            "sourceType": {
                                "type": "string",
                                "description": "How this incident was created.",
                                "readOnly": true
                            },
                            "sourceId": {
                                "type": "string",
                                "description": "ID of the original item that created this incident.",
                                "readOnly": true
                            },
                            "incidentProfile": {
                                "type": "string",
                                "description": "ID of the incident profile to use when creating this incident."
                            },
                            "stateSize": {
                                "type": "integer",
                                "description": "Size in bytes of incident states in database.",
                                "readOnly": true
                            },
                            "stateCount": {
                                "type": "integer",
                                "description": "Number of stored incident states in database.",
                                "readOnly": true
                            },
                            "scanIntervalMode": {
                                "type": "string",
                                "enum": [
                                    "automatic",
                                    "manual"
                                ],
                                "description": "If this is set to manual then scanIntervalAfterSuspended and scanIntervalAfterMalicious will not have an effect."
                            },
                            "labels": {
                                "type": "array",
                                "description": "Labels collected by the system",
                                "readOnly": true
                            }
                        }
                    }
                }
            },
            "searchResponse": {
                "properties": {
                    "results": {
                        "type": "array",
                        "description": "Array of search results"
                    },
                    "total": {
                        "type": "integer",
                        "description": "Total number of results with an exact count up to 10,000 results."
                    },
                    "took": {
                        "type": "integer",
                        "description": "Search request time in milliseconds."
                    },
                    "has_more": {
                        "type": "boolean",
                        "description": "True if there are more than 10,000 results."
                    }
                }
            },
            "livescanRequest": {
                "properties": {
                    "task": {
                        "type": "object",
                        "properties": {
                            "url": {
                                "type": "string",
                                "format": "uri",
                                "description": "URL to scan"
                            },
                            "visibility": {
                                "type": "string",
                                "enum": [
                                    "public",
                                    "unlisted",
                                    "private"
                                ]
                            }
                        }
                    },
                    "scanner": {
                        "type": "object",
                        "properties": {
                            "pageTimeout": {
                                "type": "integer",
                                "description": "Time to wait for the whole scan process (in ms)"
                            },
                            "captureDelay": {
                                "type": "integer",
                                "description": "Delay after page has finished loading before capturing page content"
                            },
                            "extraHeaders": {
                                "type": "object",
                                "description": "Extra Key-Value headers to send via the HTTP headers"
                            },
                            "enableFeatures": {
                                "type": "array"
                            },
                            "disableFeatures": {
                                "type": "array"
                            }
                        }
                    }
                }
            },
            "QuotaPeriod": {
                "type": "object",
                "properties": {
                    "limit": {
                        "type": "integer",
                        "description": "Maximum allowed usage for this period"
                    },
                    "used": {
                        "type": "integer",
                        "description": "Amount of quota used in this period"
                    },
                    "remaining": {
                        "type": "integer",
                        "description": "Remaining quota for this period"
                    },
                    "percent": {
                        "type": "number",
                        "description": "Percentage of quota used"
                    }
                },
                "required": [
                    "limit",
                    "used",
                    "remaining",
                    "percent"
                ]
            }
        }
    },
    "security": [
        {
            "apikeyAuth": [
                "read",
                "write"
            ]
        }
    ],
    "tags": [
        {
            "name": "Generic",
            "description": "API endpoints related to the platform or the user account."
        },
        {
            "name": "Scanning",
            "description": "These APIs allow URLs to be scanned and the results of the scans to be retrieved."
        },
        {
            "name": "Search",
            "description": "The Search API allows users to search for historically website scans, hostnames, domains, TLS certificates and incidents."
        },
        {
            "name": "Live Scanning",
            "description": "**urlscan Pro** - Live Scanning allows users to scan websites from different geographical locations and using different device settings.\n\nSee additional info about this proprietary feature on [urlscan Pro](https://pro.urlscan.io/help/livescan).\n"
        },
        {
            "name": "Saved Searches",
            "description": "**urlscan Pro** - Saved Searches are rules that are executed inline against new incoming scans and hostnames.\n"
        },
        {
            "name": "Subscriptions",
            "description": "**urlscan Pro** - Subscriptions allow notifications for Saved Searches.\n"
        },
        {
            "name": "Hostnames",
            "description": "**urlscan Pro** - Historical information on hostnames and domains\n"
        },
        {
            "name": "Brands",
            "description": "**urlscan Pro** - Information about tracked brands\n"
        },
        {
            "name": "Files",
            "description": "**urlscan Pro** - Downloaded files\n"
        },
        {
            "name": "Incidents",
            "description": "**urlscan Pro** - Incidents track observables, like hostnames and domains, and automatically scan and alert on changes.\n"
        }
    ],
    "paths": {
        "/api/v1/scan": {
            "post": {
                "operationId": "submitScan",
                "tags": [
                    "Scanning"
                ],
                "summary": "Scan",
                "description": "Submit a URL to be scanned and control options for how the scan should be performed.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "url"
                                ],
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "The URL to be scanned"
                                    },
                                    "visibility": {
                                        "type": "string",
                                        "enum": [
                                            "public",
                                            "unlisted",
                                            "private"
                                        ],
                                        "default": "public",
                                        "description": "Intended visibility of the final scan result"
                                    },
                                    "country": {
                                        "type": "string",
                                        "description": "Country to scan from. ISO 3166-1 alpha-2 format. If not supplied, an appropriate country will automatically be chosen."
                                    },
                                    "tags": {
                                        "type": "array",
                                        "maxItems": 10,
                                        "items": {
                                            "type": "string",
                                            "maxLength": 30
                                        },
                                        "description": "User-defined tags to annotate this scan, e.g. \"phishing\" or \"malicious\"."
                                    },
                                    "overrideSafety": {
                                        "type": "boolean",
                                        "description": "If set to any value, this will disable reclassification of URLs with potential PII in them. Use with care!"
                                    },
                                    "referer": {
                                        "type": "string",
                                        "description": "Override HTTP referer for this scan"
                                    },
                                    "customagent": {
                                        "type": "string",
                                        "description": "Override HTTP User-Agent for this scan"
                                    }
                                },
                                "example": {
                                    "url": "https://urlscan.io",
                                    "visibility": "public",
                                    "country": "de",
                                    "tags": [
                                        "postman",
                                        "testing"
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "uuid": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "UUID for scan result, also called $scanId"
                                        },
                                        "country": {
                                            "type": "string",
                                            "description": "Country for scanning"
                                        },
                                        "visibility": {
                                            "type": "string",
                                            "description": "Determined visibility for scan"
                                        },
                                        "url": {
                                            "type": "string",
                                            "format": "uri",
                                            "description": "Determined URL being scanned"
                                        }
                                    }
                                },
                                "example": {
                                    "uuid": "68e26c59-2eae-437b-aeb1-cf750fafe7d7",
                                    "visibility": "public",
                                    "url": "https://urlscan.io/",
                                    "country": "de"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/search": {
            "get": {
                "operationId": "search",
                "tags": [
                    "Search"
                ],
                "summary": "Search",
                "description": "The Search API is used to find historical scans performed on the\nplatform. Some data sources and searchable fields are only available on **urlscan Pro**.\n\nThe API search will only indicate an exact count of results up to 10,000 results in the total property. After that the `has_more` flag will be true. Use the `sort` value of the last (i.e. oldest) scan result in the current list of results as a parameter for the next Search API call. Supply this value in the `search_after` query parameter for getting the next (older) batch of results.\n\nAPI search will find Public scans performed by anyone as well as Unlisted and Private scans performed by you or your teams.\nFor query syntax and searchable fields, refer to\n[https://urlscan.io/docs/search/](https://urlscan.io/docs/search/)\n",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Search Query (Elasticsearch Query String)",
                        "example": "page.domain:example.com"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "maximum": 10000
                        },
                        "description": "Number of results to return",
                        "example": 100
                    },
                    {
                        "name": "search_after",
                        "in": "query",
                        "description": "For retrieving the next batch of results, send the value of the `sort` attribute of the last (oldest) result you received (comma-separated) from the previous call.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasource",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "scans",
                                "hostnames",
                                "incidents",
                                "notifications",
                                "certificates"
                            ]
                        },
                        "description": "Datasources to search: scans (urlscan.io), hostnames, incidents, notifications,\ncertificates (urlscan Pro)\n",
                        "example": "scans"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/searchResponse"
                                },
                                "example": {
                                    "results": [
                                        {
                                            "verdicts": {
                                                "score": -50,
                                                "malicious": false,
                                                "urlscan": {
                                                    "malicious": false
                                                },
                                                "hasVerdicts": true
                                            },
                                            "submitter": {
                                                "country": "cz"
                                            },
                                            "dom": {
                                                "size": 229965,
                                                "hash": "2bdc117bbc12d656241cfda799ffbe033ae58d78469bb3f4e750c4c9d9532a9d"
                                            },
                                            "frames": {
                                                "length": 1
                                            },
                                            "canonical": {
                                                "task": {
                                                    "url": "urlscan.io/result/db0943fb-586d-4a00-9786-d9f818a30131"
                                                },
                                                "page": {
                                                    "url": "urlscan.io/result/db0943fb-586d-4a00-9786-d9f818a30131"
                                                }
                                            },
                                            "task": {
                                                "visibility": "public",
                                                "method": "manual",
                                                "domain": "urlscan.io",
                                                "apexDomain": "urlscan.io",
                                                "time": "2023-08-18T09:26:20.465Z",
                                                "uuid": "78e48885-1b4c-4388-92bb-0d02cad46178",
                                                "url": "https://urlscan.io/result/db0943fb-586d-4a00-9786-d9f818a30131/"
                                            },
                                            "stats": {
                                                "uniqIPs": 3,
                                                "uniqCountries": 2,
                                                "dataLength": 1038051,
                                                "encodedDataLength": 517522,
                                                "requests": 26
                                            },
                                            "scanner": {
                                                "country": "at"
                                            },
                                            "links": {
                                                "length": 62
                                            },
                                            "page": {
                                                "country": "DE",
                                                "server": "nginx",
                                                "ip": "49.12.22.106",
                                                "mimeType": "text/html",
                                                "title": "www.wbc247-korea.com - urlscan.io",
                                                "url": "https://urlscan.io/result/db0943fb-586d-4a00-9786-d9f818a30131/",
                                                "tlsValidDays": 89,
                                                "tlsAgeDays": 49,
                                                "ptr": "urlscan.io",
                                                "tlsValidFrom": "2023-06-29T10:47:47.000Z",
                                                "domain": "urlscan.io",
                                                "umbrellaRank": 85248,
                                                "apexDomain": "urlscan.io",
                                                "asnname": "HETZNER-AS, DE",
                                                "asn": "AS24940",
                                                "tlsIssuer": "R3",
                                                "status": "200"
                                            },
                                            "text": {
                                                "size": 54682,
                                                "hash": "e4ae30ae2ca6e8b6b75f18413e9c128a80bf261e2d03d60150b2e0799a05612f"
                                            },
                                            "_id": "78e48885-1b4c-4388-92bb-0d02cad46178",
                                            "_score": null,
                                            "sort": [
                                                1692350780465,
                                                "78e48885-1b4c-4388-92bb-0d02cad46178"
                                            ],
                                            "result": "https://urlscan.io/api/v1/result/78e48885-1b4c-4388-92bb-0d02cad46178/",
                                            "screenshot": "https://urlscan.io/screenshots/78e48885-1b4c-4388-92bb-0d02cad46178.png"
                                        },
                                        {
                                            "verdicts": {
                                                "score": -50,
                                                "malicious": false,
                                                "urlscan": {
                                                    "malicious": false
                                                },
                                                "hasVerdicts": true
                                            },
                                            "submitter": {
                                                "country": "ie"
                                            },
                                            "dom": {
                                                "size": 70886,
                                                "hash": "8d544648a7ede3eae277db9eac47853452966518f04fcca4571c0a16c5836cb6"
                                            },
                                            "frames": {
                                                "length": 3
                                            },
                                            "canonical": {
                                                "task": {
                                                    "url": "urlscan.io"
                                                },
                                                "page": {
                                                    "url": "urlscan.io"
                                                }
                                            },
                                            "task": {
                                                "visibility": "unlisted",
                                                "method": "api",
                                                "domain": "urlscan.io",
                                                "apexDomain": "urlscan.io",
                                                "time": "2023-08-18T09:05:32.098Z",
                                                "uuid": "e142b92c-153b-42a6-b36b-262b22462e7f",
                                                "url": "https://urlscan.io/"
                                            },
                                            "stats": {
                                                "uniqIPs": 5,
                                                "uniqCountries": 1,
                                                "dataLength": 2566855,
                                                "encodedDataLength": 1181236,
                                                "requests": 56
                                            },
                                            "scanner": {
                                                "country": "de"
                                            },
                                            "links": {
                                                "length": 10
                                            },
                                            "page": {
                                                "country": "DE",
                                                "server": "nginx",
                                                "ip": "49.12.22.106",
                                                "mimeType": "text/html",
                                                "title": "URL and website scanner - urlscan.io",
                                                "url": "https://urlscan.io/",
                                                "tlsValidDays": 89,
                                                "tlsAgeDays": 49,
                                                "ptr": "urlscan.io",
                                                "tlsValidFrom": "2023-06-29T10:47:47.000Z",
                                                "domain": "urlscan.io",
                                                "umbrellaRank": 85248,
                                                "apexDomain": "urlscan.io",
                                                "asnname": "HETZNER-AS, DE",
                                                "asn": "AS24940",
                                                "tlsIssuer": "R3",
                                                "status": "200"
                                            },
                                            "text": {
                                                "size": 35591,
                                                "hash": "9374b8777f43be35f95d4633daa288b9db3803e6e54af24b9666d98d1329499d"
                                            },
                                            "_id": "e142b92c-153b-42a6-b36b-262b22462e7f",
                                            "_score": null,
                                            "sort": [
                                                1692349532098,
                                                "e142b92c-153b-42a6-b36b-262b22462e7f"
                                            ],
                                            "result": "https://urlscan.io/api/v1/result/e142b92c-153b-42a6-b36b-262b22462e7f/",
                                            "screenshot": "https://urlscan.io/screenshots/e142b92c-153b-42a6-b36b-262b22462e7f.png"
                                        }
                                    ],
                                    "total": 10000,
                                    "took": 23,
                                    "has_more": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/result/{scanId}/": {
            "get": {
                "operationId": "resultAPI",
                "tags": [
                    "Scanning"
                ],
                "summary": "Result",
                "parameters": [
                    {
                        "in": "path",
                        "name": "scanId",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "required": true,
                        "description": "UUID of scan result"
                    }
                ],
                "description": "Using the Scan ID received from the Submission API, you can use the Result API to poll for the scan. The most efficient approach would be to wait at least 10 seconds before starting to poll, and then only polling 2-second intervals with an eventual upper timeout in case the scan does not return.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "description": "Raw scan data including network requests, responses, cookies, console logs, and page elements",
                                            "properties": {
                                                "requests": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "request": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "requestId": {
                                                                        "type": "string"
                                                                    },
                                                                    "loaderId": {
                                                                        "type": "string"
                                                                    },
                                                                    "documentURL": {
                                                                        "type": "string",
                                                                        "format": "uri"
                                                                    },
                                                                    "request": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "url": {
                                                                                "type": "string",
                                                                                "format": "uri"
                                                                            },
                                                                            "method": {
                                                                                "type": "string"
                                                                            },
                                                                            "headers": {
                                                                                "type": "object",
                                                                                "additionalProperties": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "mixedContentType": {
                                                                                "type": "string"
                                                                            },
                                                                            "initialPriority": {
                                                                                "type": "string"
                                                                            },
                                                                            "referrerPolicy": {
                                                                                "type": "string"
                                                                            },
                                                                            "isSameSite": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "isLinkPreload": {
                                                                                "type": "boolean"
                                                                            }
                                                                        }
                                                                    },
                                                                    "timestamp": {
                                                                        "type": "number"
                                                                    },
                                                                    "wallTime": {
                                                                        "type": "number"
                                                                    },
                                                                    "initiator": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "type": {
                                                                                "type": "string"
                                                                            },
                                                                            "url": {
                                                                                "type": "string",
                                                                                "format": "uri"
                                                                            },
                                                                            "lineNumber": {
                                                                                "type": "integer"
                                                                            },
                                                                            "columnNumber": {
                                                                                "type": "integer"
                                                                            }
                                                                        }
                                                                    },
                                                                    "redirectHasExtraInfo": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "frameId": {
                                                                        "type": "string"
                                                                    },
                                                                    "hasUserGesture": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "primaryRequest": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            },
                                                            "response": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "encodedDataLength": {
                                                                        "type": "integer"
                                                                    },
                                                                    "dataLength": {
                                                                        "type": "integer"
                                                                    },
                                                                    "requestId": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "hasExtraInfo": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "hash": {
                                                                        "type": "string"
                                                                    },
                                                                    "size": {
                                                                        "type": "integer"
                                                                    },
                                                                    "asn": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "ip": {
                                                                                "type": "string"
                                                                            },
                                                                            "asn": {
                                                                                "type": "string"
                                                                            },
                                                                            "country": {
                                                                                "type": "string"
                                                                            },
                                                                            "registrar": {
                                                                                "type": "string"
                                                                            },
                                                                            "date": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": {
                                                                                "type": "string"
                                                                            },
                                                                            "route": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    },
                                                                    "geoip": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "country": {
                                                                                "type": "string"
                                                                            },
                                                                            "region": {
                                                                                "type": "string"
                                                                            },
                                                                            "timezone": {
                                                                                "type": "string"
                                                                            },
                                                                            "city": {
                                                                                "type": "string"
                                                                            },
                                                                            "ll": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "number"
                                                                                }
                                                                            },
                                                                            "country_name": {
                                                                                "type": "string"
                                                                            },
                                                                            "metro": {
                                                                                "type": "integer"
                                                                            },
                                                                            "area": {
                                                                                "type": "integer"
                                                                            }
                                                                        }
                                                                    },
                                                                    "rdns": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "ip": {
                                                                                "type": "string"
                                                                            },
                                                                            "ptr": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    },
                                                                    "response": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "url": {
                                                                                "type": "string",
                                                                                "format": "uri"
                                                                            },
                                                                            "status": {
                                                                                "type": "integer"
                                                                            },
                                                                            "statusText": {
                                                                                "type": "string"
                                                                            },
                                                                            "headers": {
                                                                                "type": "object",
                                                                                "additionalProperties": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "mimeType": {
                                                                                "type": "string"
                                                                            },
                                                                            "remoteIPAddress": {
                                                                                "type": "string"
                                                                            },
                                                                            "remotePort": {
                                                                                "type": "integer"
                                                                            },
                                                                            "encodedDataLength": {
                                                                                "type": "integer"
                                                                            },
                                                                            "timing": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "requestTime": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "proxyStart": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "proxyEnd": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "dnsStart": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "dnsEnd": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "connectStart": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "connectEnd": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "sslStart": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "sslEnd": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "workerStart": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "workerReady": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "workerFetchStart": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "workerRespondWithSettled": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "sendStart": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "sendEnd": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "pushStart": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "pushEnd": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "receiveHeadersStart": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "receiveHeadersEnd": {
                                                                                        "type": "number"
                                                                                    }
                                                                                }
                                                                            },
                                                                            "responseTime": {
                                                                                "type": "number"
                                                                            },
                                                                            "protocol": {
                                                                                "type": "string"
                                                                            },
                                                                            "alternateProtocolUsage": {
                                                                                "type": "string"
                                                                            },
                                                                            "securityState": {
                                                                                "type": "string"
                                                                            },
                                                                            "securityDetails": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "protocol": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "keyExchange": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "keyExchangeGroup": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "cipher": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "certificateId": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "subjectName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "sanList": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "issuer": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "validFrom": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "validTo": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "signedCertificateTimestampList": {
                                                                                        "type": "array"
                                                                                    },
                                                                                    "certificateTransparencyCompliance": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "serverSignatureAlgorithm": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "encryptedClientHello": {
                                                                                        "type": "boolean"
                                                                                    }
                                                                                }
                                                                            },
                                                                            "securityHeaders": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "value": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "initiatorInfo": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "url": {
                                                                        "type": "string",
                                                                        "format": "uri"
                                                                    },
                                                                    "host": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "cookies": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "console": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "href": {
                                                                "type": "string",
                                                                "format": "uri"
                                                            },
                                                            "text": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "timing": {
                                                    "type": "object"
                                                },
                                                "globals": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            }
                                        },
                                        "stats": {
                                            "type": "object",
                                            "description": "Statistical analysis of the scan including resource counts, protocols, security metrics, and geographic distribution",
                                            "properties": {
                                                "resourceStats": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "size": {
                                                                "type": "integer"
                                                            },
                                                            "encodedSize": {
                                                                "type": "integer"
                                                            },
                                                            "latency": {
                                                                "type": "number"
                                                            },
                                                            "countries": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "ips": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "compression": {
                                                                "type": "string"
                                                            },
                                                            "percentage": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    }
                                                },
                                                "protocolStats": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "size": {
                                                                "type": "integer"
                                                            },
                                                            "encodedSize": {
                                                                "type": "integer"
                                                            },
                                                            "latency": {
                                                                "type": "number"
                                                            },
                                                            "countries": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "ips": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "percentage": {
                                                                "type": "integer"
                                                            },
                                                            "protocol": {
                                                                "type": "string"
                                                            },
                                                            "securityState": {
                                                                "type": "object"
                                                            }
                                                        }
                                                    }
                                                },
                                                "tlsStats": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "size": {
                                                                "type": "integer"
                                                            },
                                                            "encodedSize": {
                                                                "type": "integer"
                                                            },
                                                            "latency": {
                                                                "type": "number"
                                                            },
                                                            "countries": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "ips": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "percentage": {
                                                                "type": "integer"
                                                            },
                                                            "protocols": {
                                                                "type": "object",
                                                                "additionalProperties": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "securityState": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "serverStats": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "size": {
                                                                "type": "integer"
                                                            },
                                                            "encodedSize": {
                                                                "type": "integer"
                                                            },
                                                            "latency": {
                                                                "type": "number"
                                                            },
                                                            "countries": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "ips": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "percentage": {
                                                                "type": "integer"
                                                            },
                                                            "server": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "domainStats": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "count": {
                                                                "type": "integer"
                                                            },
                                                            "ips": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "redirects": {
[...]
