{
    "openapi": "3.0.0",
    "info": {
        "version": "1.1.0",
        "title": "Zenduty",
        "termsOfService": "https://zenduty.com",
        "contact": {
            "email": "vishwa@zenduty.com"
        },
        "license": {
            "name": "Apache 2.0"
        },
        "x-logo": {
            "url": "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii05OC4zIDE3My43IDIwNi4zIDUzLjIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTk4LjMgMTczLjcgMjA2LjMgNTMuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzBGMTcyQTt9DQoJLnN0MXtmaWxsOiNGRDlBMDA7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0tMjksMjEwLjJoNi4zYzIuNywwLDQuOSwyLjIsNC45LDQuOWgtMTguMWMwLTUuMyw0LjEtOS40LDcuOS0xMy4xbDMuOC0zLjdoLTcuMWMtMi41LDAtNC42LTIuMS00LjYtNC42aDE4DQoJYzAsNS4zLTQuMSw5LjQtNy44LDEzLjJMLTI5LDIxMC4yeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTMuNywyMDUuOGgtMTUuNWMwLjEsMS41LDAuNiwyLjcsMS42LDMuNmMwLjksMC45LDIuMSwxLjIsMy41LDEuMmMyLDAsMy40LTAuOSw0LjMtMi41aDUuOA0KCWMtMC42LDItMS44LDMuNi0zLjUsNC45Yy0xLjgsMS4yLTMuOSwyLTYuNCwyYy0yLDAtMy45LTAuNS01LjUtMS40Yy0xLjYtMC45LTIuOS0yLjEtMy44LTMuN2MtMC45LTEuNi0xLjQtMy40LTEuNC01LjcNCgljMC0yLjEsMC41LTQuMSwxLjQtNS43YzAuOS0xLjYsMi4xLTIuOCwzLjgtMy43YzEuNi0wLjksMy40LTEuNCw1LjUtMS40YzIsMCwzLjgsMC40LDUuNCwxLjJjMS42LDAuOSwyLjgsMi4xLDMuNywzLjYNCgljMC45LDEuNiwxLjMsMy4zLDEuMyw1LjRDMy44LDIwNC42LDMuOCwyMDUuMiwzLjcsMjA1Ljh6IE0tMS43LDIwMi4yYzAtMS40LTAuNS0yLjUtMS41LTMuMmMtMS0wLjktMi4xLTEuMi0zLjUtMS4yDQoJYy0xLjQsMC0yLjQsMC40LTMuNCwxLjJjLTAuOSwwLjctMS41LDEuOC0xLjYsMy4zaDEwLjFWMjAyLjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjcuOSwxOTguNGMwLjktMS42LDItMi45LDMuNS0zLjhjMS41LTAuOSwzLjEtMS40LDQuOS0xLjRjMS40LDAsMi42LDAuMywzLjksMC45YzEuMywwLjYsMi4zLDEuNCwzLDIuNHYtMTYuNw0KCWg1LjR2MzVoLTUuNHYtMy4xYy0wLjYsMS0xLjYsMS45LTIuOCwyLjVjLTEuMywwLjYtMi42LDEtNC4yLDFjLTEuOCwwLTMuNC0wLjUtNC45LTEuNGMtMS41LTAuOS0yLjYtMi4zLTMuNS0zLjkNCgljLTAuOS0xLjYtMS4zLTMuNS0xLjMtNS44QzI2LjYsMjAyLDI3LDIwMCwyNy45LDE5OC40eiBNNDIuNSwyMDAuOWMtMC41LTAuOS0xLjMtMS42LTItMi4xYy0wLjktMC41LTEuOC0wLjgtMi44LTAuOA0KCWMtMSwwLTEuOSwwLjMtMi44LDAuOGMtMC45LDAuNS0xLjUsMS4xLTIsMi4xYy0wLjUsMC45LTAuOCwyLTAuOCwzLjNjMCwxLjMsMC4zLDIuNCwwLjgsMy40YzAuNSwxLDEuMywxLjYsMiwyLjENCgljMC45LDAuNSwxLjgsMC44LDIuOCwwLjhjMSwwLDEuOS0wLjMsMi44LTAuOGMwLjktMC41LDEuNS0xLjMsMi0yLjFjMC41LTAuOSwwLjgtMiwwLjgtMy40UzQzLDIwMS44LDQyLjUsMjAwLjl6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjUuNCwyMDQuM3YxMC42aC01di0xMC42YzAtMi0wLjUtMy41LTEuNS00LjVjLTEtMS4xLTIuMS0xLjYtMy41LTEuNnMtMi41LDAuNS0zLjUsMS42DQoJYy0wLjksMS0xLjQsMi42LTEuNCw0LjV2MTAuNkg1LjV2LTEwLjZjMC0yLjEsMC41LTQsMS4zLTUuN2MwLjktMS42LDItMi45LDMuNS0zLjhzMy4xLTEuNCw1LTEuNHMzLjUsMC41LDUsMS40DQoJYzEuNSwwLjksMi42LDIuMSwzLjUsMy44QzI0LjksMjAwLjMsMjUuNCwyMDIuMiwyNS40LDIwNC4zeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTUxLjMsMjA0LjF2LTEwLjRoNXYxMC40YzAsMiwwLjUsMy41LDEuNSw0LjVjMSwxLjEsMi4xLDEuNiwzLjUsMS42YzEuNCwwLDIuNS0wLjUsMy41LTEuNg0KCWMwLjktMSwxLjQtMi42LDEuNC00LjV2LTEwLjRoNC45djEwLjRjMCwyLjEtMC41LDQtMS4zLDUuN2MtMC45LDEuNi0yLDIuOS0zLjUsMy44Yy0xLjUsMC45LTMuMSwxLjQtNSwxLjRzLTMuNS0wLjUtNS0xLjQNCgljLTEuNS0wLjktMi42LTIuMS0zLjUtMy44QzUxLjcsMjA4LjEsNTEuMywyMDYuMiw1MS4zLDIwNC4xeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTgwLjcsMTk4djEwLjJjMCwwLjgsMC4xLDEuMywwLjUsMS41YzAuNCwwLjQsMC45LDAuNSwxLjgsMC41aDIuNXY0LjVoLTMuNGMtNC41LDAtNi44LTIuMS02LjgtNi41VjE5OGgtNS4xDQoJdi00LjRoNS4xdi04LjdoNS40djguN2g0LjhsMi42LDQuNEg4MC43eiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwNy40LDE5My42bC04LjcsMjAuNmwtNSwxMS44aC01LjdsNS4xLTExLjhsLTguNC0yMC42aDZsNS40LDE0LjdsNS41LTE0LjdIMTA3LjR6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTY2LjksMTg5LjJjLTEuOSwwLTQuNy0yLjEtNC43LTQuOHYtMy42YzAtMi43LDAuOC00LjgsNC43LTQuOGMzLjksMCw0LjcsMi4xLDQuNyw0Ljh2My42DQoJQy02Mi4yLDE4Ny4xLTY1LDE4OS4yLTY2LjksMTg5LjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTM3LjcsMjIzaC0yMS41bDMuOC0xMS40bDAuNy0xLjhjNC4yLDEuNywxMy4xLDcuMiwxNy43LDExLjZDLTM2LjQsMjIyLjEtMzYuOCwyMjMtMzcuNywyMjN6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTU3LjMsMTkyLjlsLTE1LjksMTAuNGMtNC4yLTIuNS05LjItNS45LTEyLjItOC44Yy0wLjYtMC42LTAuMi0xLjUsMC43LTEuNUgtNTcuM3oiLz4NCjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0tNDguNiwxOTQuM2wtNiwxNS42bC0wLjcsMS44bC0zLjgsMTEuNEgtOTZjLTAuOCwwLTEuMy0wLjktMC44LTEuNWMwLjktMS4yLDEuOC0yLjMsMi43LTMuMw0KCWMyLjEtMi4yLDQuNC00LjEsNi45LTUuOGwwLjEtMC4xYzAuOC0wLjYsMS42LTEuMSwyLjQtMS42bDExLjQtNy40bDE1LjktMTAuNGg3LjdDLTQ4LjgsMTkyLjktNDguNCwxOTMuNi00OC42LDE5NC4zeiIvPg0KPC9zdmc+DQo="
        },
        "description": "# Introduction\n\nZenduty is a cutting edge platform for incident management. With high level automation, Zenduty enables faster and better incident resolution keeping developers first.\n\n\n  Javascript Libraries: https://github.com/Zenduty/zenduty-js\n\n  Ruby Libraries: https://github.com/Zenduty/zenduty-ruby\n\n  Python Libraries: https://github.com/Zenduty/zenduty-python-sdk\n\n  Postman Collection for Zenduty API: https://github.com/Zenduty/zenduty-api-postman.git\n\n  Account-level roles and permissions: https://docs.zenduty.com/docs/users#account-level-roles-and-permissions\n\n  Team-level roles and permissions: https://docs.zenduty.com/docs/users#team-level-roles-and-permissions\n"
    },
    "servers": [
        {
            "url": "https://www.zenduty.com"
        }
    ],
    "paths": {
        "/api/account/api_invite/": {
            "post": {
                "summary": "Invite User",
                "description": "Returns an Account Member object.",
                "requestBody": {
                    "description": "Request body parameters to create the Account Member object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InviteUserPayload"
                            },
                            "example": {
                                "team": "db61f7ed-ba78-4536-9b2d-256b135a731d",
                                "user_detail": {
                                    "first_name": "Michael",
                                    "last_name": "Scott",
                                    "email": "michaelscott@zenduty.com",
                                    "role": 3
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/InviteUserPayload"
                            },
                            "example": {
                                "team": "db61f7ed-ba78-4536-9b2d-256b135a731d",
                                "user_detail": {
                                    "first_name": "Michael",
                                    "last_name": "Scott",
                                    "email": "michaelscott@zenduty.com",
                                    "role": 3
                                }
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/api/account/members/": {
            "get": {
                "summary": "List all Account Member objects",
                "description": "Returns a list of Account Member objects. The Account Member objects are sorted by joining_date, with the most recent Account Member object appearing last.",
                "parameters": []
            }
        },
        "/api/account/members/{username}/": {
            "get": {
                "summary": "Retrieve the Account Member object",
                "description": "Retrieve the specified Account Member object.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "description": "A system-generated string that represents the User object's username"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Account Member object",
                "description": "Updates the specified Account Member object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.",
                "requestBody": {
                    "description": "Request body parameters to update the Account Member object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountMemberPayload"
                            },
                            "example": {
                                "user": {
                                    "username": "507dfda0-a1fd-40e5-943a-e",
                                    "first_name": "Mary",
                                    "last_name": "Jane"
                                },
                                "role": 2
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountMemberPayload"
                            },
                            "example": {
                                "user": {
                                    "username": "507dfda0-a1fd-40e5-943a-e",
                                    "first_name": "Mary",
                                    "last_name": "Jane"
                                },
                                "role": 2
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "description": "A system-generated string that represents the User object's username"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/deleteuser/": {
            "post": {
                "summary": "Delete User",
                "description": "Delete the specified Account Member object",
                "requestBody": {
                    "description": "Request body parameters to create the Account Member object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteUserPayload"
                            },
                            "example": {
                                "username": "6b2af4db-8b31-4bfb-9742-4"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteUserPayload"
                            },
                            "example": {
                                "username": "6b2af4db-8b31-4bfb-9742-4"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/api/account/customroles/": {
            "post": {
                "summary": "Create the Account Custom Role object",
                "description": "Create the Account Custom Role object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the Account Custom Role object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountCustomRolePayload"
                            },
                            "example": {
                                "name": "Role 1",
                                "description": "Role 1 Description",
                                "permissions": [
                                    "sla_read"
                                ]
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountCustomRolePayload"
                            },
                            "example": {
                                "name": "Role 1",
                                "description": "Role 1 Description",
                                "permissions": [
                                    "sla_read"
                                ]
                            }
                        }
                    }
                },
                "parameters": []
            },
            "get": {
                "summary": "List all Account Custom Role objects",
                "description": "Returns a list of Account Custom Role objects.",
                "parameters": []
            }
        },
        "/api/account/customroles/{custom_role_id}/": {
            "get": {
                "summary": "Retrieve the Account Custom Role object",
                "description": "Retrieve the specified Account Custom Role object.",
                "parameters": [
                    {
                        "name": "custom_role_id",
                        "in": "path",
                        "description": "unique_id of the Account Custom Role object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Account Custom Role object",
                "description": "Updates the specified Account Custom Role object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.",
                "requestBody": {
                    "description": "Request body parameters to update the Account Custom Role object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountCustomRolePayload"
                            },
                            "example": {
                                "name": "Role Updated",
                                "permissions": [
                                    "sla_read"
                                ]
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountCustomRolePayload"
                            },
                            "example": {
                                "name": "Role Updated",
                                "permissions": [
                                    "sla_read"
                                ]
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "custom_role_id",
                        "in": "path",
                        "description": "unique_id of the Account Custom Role object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the Account Custom Role object",
                "description": "Delete the specified Account Custom Role object permanently.",
                "parameters": [
                    {
                        "name": "custom_role_id",
                        "in": "path",
                        "description": "unique_id of the Account Custom Role object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/users/{username}/customroles/": {
            "post": {
                "summary": "Create the User Custom Role object",
                "description": "Create the User Custom Role object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the User Custom Role object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserCustomRolePayload"
                            },
                            "example": {
                                "custom_role": "ddf61a4d-6489-4665-bee6-7e21205f9d6f"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/UserCustomRolePayload"
                            },
                            "example": {
                                "custom_role": "ddf61a4d-6489-4665-bee6-7e21205f9d6f"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all User Custom Role objects",
                "description": "Returns a list of User Custom Role objects.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/users/{username}/notification_rules/": {
            "post": {
                "summary": "Create the User Notification Rules object",
                "description": "Create the User Notification Rules object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the User Notification Rule object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserNotificationRulePayload"
                            },
                            "example": {
                                "start_delay": 0,
                                "contact": "caabda03-5e15-4cf1-b293-fab41b688ac7",
                                "urgency": 1
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/UserNotificationRulePayload"
                            },
                            "example": {
                                "start_delay": 0,
                                "contact": "caabda03-5e15-4cf1-b293-fab41b688ac7",
                                "urgency": 1
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all Users' Notification Rule objects",
                "description": "Returns a list of User Notification Rule objects.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/users/{username}/notification_rules/{notification_rule_id}/": {
            "get": {
                "summary": "Retrieve the User Notification Rule object",
                "description": "Retrieve the specified User's Notification Rule object.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "notification_rule_id",
                        "in": "path",
                        "description": "unique_id of the User Notification Rule object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the User Notification Rules object",
                "description": "Delete the specified User Notification Rules object permanently.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "notification_rule_id",
                        "in": "path",
                        "description": "unique_id of the User Notification Rule object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/users/{username}/forwarding_rules/": {
            "post": {
                "summary": "Create the User Forwarding Rules object",
                "description": "Create the User's Forwarding Rules object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the User Forwarding Rules object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserForwardingRulePayload"
                            },
                            "example": {
                                "from_date": "2023-03-01T16:37:58.654Z",
                                "to_date": "2023-03-01T16:37:58.654Z",
                                "time_zone": "UTC",
                                "to_user": "7e26fed1-f11c-4e78-afc6-a"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/UserForwardingRulePayload"
                            },
                            "example": {
                                "from_date": "2023-03-01T16:37:58.654Z",
                                "to_date": "2023-03-01T16:37:58.654Z",
                                "time_zone": "UTC",
                                "to_user": "7e26fed1-f11c-4e78-afc6-a"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all User Forwarding Rule objects",
                "description": "Returns a list of User Forwarding Rule objects.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/users/{username}/forwarding_rules/{forwarding_rule_id}/": {
            "get": {
                "summary": "Retrieve the User Forwarding Rules object",
                "description": "Retrieve the specified User's Forwarding Rules object.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "forwarding_rule_id",
                        "in": "path",
                        "description": "unique_id of the User Forwarding Rules object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the User Forwarding Rule object",
                "description": "Delete the specified User's Forwarding Rules object permanently.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "forwarding_rule_id",
                        "in": "path",
                        "description": "unique_id of the User Forwarding Rules object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/users/{username}/contacts/": {
            "post": {
                "summary": "Create the User Contact Methods object",
                "description": "Create the User Contact Methods object by setting the values of all the required parameters passed in the request body. A user can only create email Contact Methods through API.",
                "requestBody": {
                    "description": "Request body parameters to create the User Contact Methods object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserContactMethodPayload"
                            },
                            "example": {
                                "name": "Secondary Email",
                                "value": "anshulrajput229@gmail.com",
                                "contact_type": 1
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/UserContactMethodPayload"
                            },
                            "example": {
                                "name": "Secondary Email",
                                "value": "anshulrajput229@gmail.com",
                                "contact_type": 1
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all User Contact Method objects",
                "description": "Returns a list of User Contact Method objects.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/users/{username}/contacts/{contact_id}/": {
            "get": {
                "summary": "Retrieve the User Contact Methods object",
                "description": "Retrieve the specified User's Contact Methods object.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "unique_id of the User Contact Methods object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the User Contact Methods object",
                "description": "Delete the specified User's Contact Methods object permanently.",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username of the User object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "unique_id of the User Contact Methods object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/": {
            "post": {
                "summary": "Create the Team object",
                "description": "Create the Team object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the Team object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamPayload"
                            },
                            "example": {
                                "name": "Production Team"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamPayload"
                            },
                            "example": {
                                "name": "Production Team"
                            }
                        }
                    }
                },
                "parameters": []
            },
            "get": {
                "summary": "List all Team objects",
                "description": "Returns a list of Team objects. The Team objects are sorted by creation_date, with the most recent Team object appearing last.",
                "parameters": []
            }
        },
        "/api/account/teams/{team_id}/": {
            "get": {
                "summary": "Retrieve the Team object",
                "description": "Retrieve the specified Team object.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Team object",
                "description": "Updates the specified Team object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.",
                "requestBody": {
                    "description": "Request body parameters to update the Team object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamPayload"
                            },
                            "example": {
                                "name": "Modified Production Team"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamPayload"
                            },
                            "example": {
                                "name": "Modified Production Team"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the Team object",
                "description": "Delete the specified Team object permanently.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{}/members/": {
            "post": {
                "summary": "Add user to Team",
                "description": "Create the Team Member object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the Team Member object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamMemberPayload"
                            },
                            "example": {
                                "user": "507dfda0-a1fd-40e5-943a-e"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamMemberPayload"
                            },
                            "example": {
                                "user": "507dfda0-a1fd-40e5-943a-e"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all Team Member objects",
                "description": "Returns a list of Team Member objects. The Team Member objects are sorted by joining_date, with the most recent Team Member object appearing last.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{team_id}/members/{member_id}/": {
            "get": {
                "summary": "Retrieve the Team Member object",
                "description": "Retrieve the specified Team Member object.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "member_id",
                        "in": "path",
                        "description": "unique_id of the Team Member object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Team Member object",
                "description": "Updates the specified Team Member object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.",
                "requestBody": {
                    "description": "Request body parameters to update the Team Member object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamMemberPayload"
                            },
                            "example": {
                                "user": "507dfda0-a1fd-40e5-943a-e",
                                "role": 1
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamMemberPayload"
                            },
                            "example": {
                                "user": "507dfda0-a1fd-40e5-943a-e",
                                "role": 1
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "member_id",
                        "in": "path",
                        "description": "unique_id of the Team Member object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the Team Member object",
                "description": "Delete the specified Team Member object permanently.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "member_id",
                        "in": "path",
                        "description": "unique_id of the Team Member object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{}/permissions/": {
            "get": {
                "summary": "Retrieve Team Permission object",
                "description": "Returns a particular Team Permission object.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Team Permission object",
                "description": "Update the Team Permission object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to update the Team Permission object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamPermissionPayload"
                            },
                            "example": {
                                "account_permissions": [
                                    "member_read",
                                    "schedule_read",
                                    "team_read",
                                    "sla_read",
                                    "incident_read"
                                ]
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamPermissionPayload"
                            },
                            "example": {
                                "account_permissions": [
                                    "member_read",
                                    "schedule_read",
                                    "team_read",
                                    "sla_read",
                                    "incident_read"
                                ]
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{}/schedules/": {
            "post": {
                "summary": "Create the Schedule object",
                "description": "Create the Schedule object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the Schedule object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SchedulePayload"
                            },
                            "example": {
                                "name": "Daily Schedule",
                                "summary": "Daily on call schedule for modified production team",
                                "time_zone": "Asia/Kolkata"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/SchedulePayload"
                            },
                            "example": {
                                "name": "Daily Schedule",
                                "summary": "Daily on call schedule for modified production team",
                                "time_zone": "Asia/Kolkata"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all Schedule objects",
                "description": "Returns a list of Schedule objects.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{team_id}/schedules/{schedule_id}/": {
            "get": {
                "summary": "Retrieve the Schedule object",
                "description": "Retrieve the specified Schedule object.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "schedule_id",
                        "in": "path",
                        "description": "unique_id of the Schedule object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Schedule object",
                "description": "Updates the specified Schedule object by setting the values of the parameters passed in the request body.",
                "requestBody": {
                    "description": "Schedule update payload",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SchedulePayload"
                            },
                            "example": {
                                "name": "Modified weekly Schedule"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/SchedulePayload"
                            },
                            "example": {
                                "name": "Modified daily Schedule"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "schedule_id",
                        "in": "path",
                        "description": "unique_id of the Schedule object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the Schedule object",
                "description": "Delete the specified Schedule object permanently.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "schedule_id",
                        "in": "path",
                        "description": "unique_id of the Schedule object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/v2/account/teams/{}/schedules/{}/overrides/": {
            "post": {
                "summary": "Create the Schedule Override object",
                "description": "Create the Schedule Override object by setting the values of all the required parameters passed in the request body. (Note - Rate limits are 1/sec and 20/minute)",
                "requestBody": {
                    "description": "Request body parameters to create the Schedule Overrides object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ScheduleOverridePayload"
                            },
                            "example": {
                                "name": "Override for Michael",
                                "user": "507dfda0-a1fd-40e5-943a-e",
                                "start_time": "2022-07-09T05:57:14Z",
                                "end_time": "2022-07-10T05:57:14Z"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/ScheduleOverridePayload"
                            },
                            "example": {
                                "name": "Override for Michael",
                                "user": "507dfda0-a1fd-40e5-943a-e",
                                "start_time": "2022-07-09T05:57:14Z",
                                "end_time": "2022-07-10T05:57:14Z"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "schedule_id",
                        "in": "path",
                        "description": "unique_id of the Schedule object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all Schedule overrides objects",
                "description": "Returns a list of Schedule override objects with overridden users and their respective start and end times. refer to overridden_details object key (Note - Rate limits are 1/sec and 20/minute)",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "schedule_id",
                        "in": "path",
                        "description": "unique_id of the Schedule object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{}/escalation_policies/": {
            "post": {
                "summary": "Create the Escalation Policy object",
                "description": "Create the Escalation Policy object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the Escalation Policy object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EPPayload"
                            },
                            "example": {
                                "name": "Production Escalation Policy",
                                "rules": [
                                    {
                                        "delay": 2,
                                        "targets": [
                                            {
                                                "target_type": 2,
                                                "target_id": "85b563c8-18d0-4668-9462-9"
                                            }
                                        ],
                                        "position": 1
                                    }
                                ]
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/EPPayload"
                            },
                            "example": {
                                "name": "Production Escalation Policy",
                                "rules": [
                                    {
                                        "delay": 2,
                                        "targets": [
                                            {
                                                "target_type": 2,
                                                "target_id": "85b563c8-18d0-4668-9462-9"
                                            }
                                        ],
                                        "position": 1
                                    }
                                ]
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all Escalation Policy objects",
                "description": "Returns a list of Escalation Policy objects.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{team_id}/escalation_policies/{escalation_policy_id}/": {
            "get": {
                "summary": "Retrieve the Escalation Policy object",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "escalation_policy_id",
                        "in": "path",
                        "description": "unique_id of the Escalation Policy object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Escalation Policy object",
                "description": "Updates the specified Escalation Policy object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.",
                "requestBody": {
                    "description": "Request body parameters to update the Escalation Policy object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EPPayload"
                            },
                            "example": {
                                "name": "Modified Production Escalation Policy",
                                "rules": [
                                    {
                                        "delay": 2,
                                        "targets": [
                                            {
                                                "target_type": 2,
                                                "target_id": "85b563c8-18d0-4668-9462-9"
                                            }
                                        ],
                                        "position": 1
                                    }
                                ]
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "escalation_policy_id",
                        "in": "path",
                        "description": "unique_id of the Escalation Policy object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the Escalation Policy object",
                "description": "Delete the specified Escalation Policy object permanently.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "escalation_policy_id",
                        "in": "path",
                        "description": "unique_id of the Escalation Policy object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{}/services/": {
            "post": {
                "summary": "Create the Service object",
                "description": "Create the Service object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the Service object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ServicePayload"
                            },
                            "example": {
                                "name": "Production Service",
                                "description": "This is the description for Production Service",
                                "team_priority": "6d100d52-998b-41c8-8928-a7e3aa68e329",
                                "task_template": "8d2640ca-c6ef-45f0-be5f-61dedcf85032",
                                "status": 1,
                                "escalation_policy": "9ea1f98d-b5a3-4d72-8057-2f5f3d743a44",
                                "sla": "b3c6af23-2b9e-414e-9706-bbf3af76828c"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/ServicePayload"
                            },
                            "example": {
                                "name": "Production Service",
                                "description": "This is the description for Production Service",
                                "team_priority": "6d100d52-998b-41c8-8928-a7e3aa68e329",
                                "task_template": "8d2640ca-c6ef-45f0-be5f-61dedcf85032",
                                "status": 1,
                                "escalation_policy": "9ea1f98d-b5a3-4d72-8057-2f5f3d743a44",
                                "sla": "b3c6af23-2b9e-414e-9706-bbf3af76828c"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all Service objects",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{team_id}/services/{service_id}/": {
            "get": {
                "summary": "Retrieve the Service object",
                "description": "Retrieve the specified Service object.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "service_id",
                        "in": "path",
                        "description": "unique_id of the Service object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Service object",
                "description": "Updates the specified Service object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.",
                "requestBody": {
                    "description": "Request body parameters to update the Service object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ServicePayload"
                            },
                            "example": {
                                "name": "Modified Production Service",
                                "description": "This is the description for Production Service",
                                "team_priority": "6d100d52-998b-41c8-8928-a7e3aa68e329",
                                "task_template": "8d2640ca-c6ef-45f0-be5f-61dedcf85032",
                                "status": 1,
                                "escalation_policy": "9ea1f98d-b5a3-4d72-8057-2f5f3d743a44",
                                "sla": "b3c6af23-2b9e-414e-9706-bbf3af76828c"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/ServicePayload"
                            },
                            "example": {
                                "name": "Modified Production Service",
                                "description": "This is the description for Production Service",
                                "team_priority": "6d100d52-998b-41c8-8928-a7e3aa68e329",
                                "task_template": "8d2640ca-c6ef-45f0-be5f-61dedcf85032",
                                "status": 1,
                                "escalation_policy": "9ea1f98d-b5a3-4d72-8057-2f5f3d743a44",
                                "sla": "b3c6af23-2b9e-414e-9706-bbf3af76828c"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "service_id",
                        "in": "path",
                        "description": "unique_id of the Service object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the Service object",
                "description": "Delete the specified Service object permanently.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "service_id",
                        "in": "path",
                        "description": "unique_id of the Service object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{}/services/{service_id}/integrations/": {
            "post": {
                "summary": "Create the Integration object",
                "description": "Create the Integration object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the Integration object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegrationPayload"
                            },
                            "example": {
                                "name": "Infra custom Integration",
                                "summary": "This is the summary for Infra custom Integration",
                                "application": "07c84d47-7e71-49ec-b781-1cc81a78086e"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegrationPayload"
                            },
                            "example": {
                                "name": "Infra custom Integration",
                                "summary": "This is the summary for Infra custom Integration",
                                "application": "07c84d47-7e71-49ec-b781-1cc81a78086e"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "service_id",
                        "in": "path",
                        "description": "unique_id of the Service object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all Integration objects",
                "description": "Returns a list of Integration objects. The Integration objects are sorted by creation_date, with the most recent Integration object appearing last.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "service_id",
                        "in": "path",
                        "description": "unique_id of the Service object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{team_id}/services/{service_id}/integrations/{integration_id}/": {
            "get": {
                "summary": "Retrieve the Integration object",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "service_id",
                        "in": "path",
                        "description": "unique_id of the Service object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "integration_id",
                        "in": "path",
                        "description": "unique_id of the Integration object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Integration object",
                "description": "Updates the specified Integration object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.",
                "requestBody": {
                    "description": "Request body parameters to update the Integration object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegrationPayload"
                            },
                            "example": {
                                "name": "Modified Infra custom Integration",
                                "application": "07c84d47-7e71-49ec-b781-1cc81a78086e"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "service_id",
                        "in": "path",
                        "description": "unique_id of the Service object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "integration_id",
                        "in": "path",
                        "description": "unique_id of the Integration object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the Integration object",
                "description": "Delete the specified Integration object permanently",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "service_id",
                        "in": "path",
                        "description": "unique_id of the Service object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "integration_id",
                        "in": "path",
                        "description": "unique_id of the Integration object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/regenerate_integration_key/": {
            "post": {
                "summary": "Regenerate the Integration key",
                "description": "Regenerates the integration key.",
                "requestBody": {
                    "description": "The integration's unique ID",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegrationKeyRegenerationPayload"
                            },
                            "example": {
                                "integration_unique_id": "84753076-129d-4706-a957-a7c751ca7ab1"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/api/incidents/filter/": {
            "post": {
                "parameters": [
                    {
                        "in": "query",
                        "name": "page",
                        "description": "pagination page number. example - `page=1`",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "summary": "List all Incident objects(filtered)",
                "description": "Returns a list of filtered Incident objects. The Incident objects are sorted by creation_date, with the most recent Incident object appearing last. for pagination please use 'next' and 'previous' links in the response.",
                "requestBody": {
                    "description": "Request body parameters to filter the Incident objects",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IncidentFilterPayload"
                            },
                            "example": {
                                "status": 1,
                                "team_ids": [
                                    "4cce18ea-57c5-4beb-bca8-60dc7a68ae3a",
                                    "91fd3cc0-ebd6-43b8-aab3-67a05762ba0c"
                                ],
                                "all_teams": 1,
                                "service_ids": [
                                    "32a7c77f-aa0a-49de-ab52-e52f0aa77888"
                                ],
                                "user_ids": [
                                    "7e26fed1-f11c-4e78-afc6-a"
                                ],
                                "priority_name": "",
                                "priority_ids": [
                                    "7064efff-55f2-448b-92e5-a3a53179aa76"
                                ],
                                "tag_ids": [
                                    "bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4"
                                ],
                                "sla_ids": [
                                    "f14a16aa-15d1-49a1-be27-0c266b15c7fa"
                                ],
                                "from_date": [],
                                "to_date": [],
                                "postmortem_filter": -1,
                                "escalation_policy_ids": [
                                    "52fe68d3-cead-40b3-b0ac-d616d38d8e32"
                                ]
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/IncidentFilterPayload"
                            },
                            "example": {
                                "status": 1,
                                "team_ids": [
                                    "4cce18ea-57c5-4beb-bca8-60dc7a68ae3a",
                                    "91fd3cc0-ebd6-43b8-aab3-67a05762ba0c"
                                ],
                                "all_teams": 1,
                                "service_ids": [
                                    "32a7c77f-aa0a-49de-ab52-e52f0aa77888"
                                ],
                                "user_ids": [
                                    "7e26fed1-f11c-4e78-afc6-a"
                                ],
                                "priority_name": "",
                                "priority_ids": [
                                    "7064efff-55f2-448b-92e5-a3a53179aa76"
                                ],
                                "tag_ids": [
                                    "bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4"
                                ],
                                "sla_ids": [
                                    "f14a16aa-15d1-49a1-be27-0c266b15c7fa"
                                ],
                                "from_date": [],
                                "to_date": [],
                                "postmortem_filter": -1,
                                "escalation_policy_ids": [
                                    "52fe68d3-cead-40b3-b0ac-d616d38d8e32"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/incidents/": {
            "post": {
                "summary": "Create the Incident object",
                "description": "Create the Incident object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the Incident object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IncidentPayload"
                            },
                            "example": {
                                "title": "Production Incident",
                                "service": "191f5e2c-515e-4ee0-b501-3a292f8dae2f"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/IncidentPayload"
                            },
                            "example": {
                                "title": "Production Incident",
                                "service": "191f5e2c-515e-4ee0-b501-3a292f8dae2f"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/api/incidents/{unique_id}/": {
            "patch": {
                "parameters": [
                    {
                        "name": "unique_id",
                        "in": "path",
                        "description": "A system-generated string that represents the Incident object's unique ID",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "summary": "Update the Incident object",
                "description": "Updates the specified Incident object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.",
                "requestBody": {
                    "description": "Request body parameters to update the Incident object",
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IncidentPayload"
                            },
                            "example": {
                                "status": 2
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/IncidentPayload"
                            },
                            "example": {
                                "status": 2
                            }
                        }
                    }
                }
            }
        },
        "/api/incidents/{incident_number}/": {
            "get": {
                "summary": "Retrieve the Incident object",
                "description": "Retrieves the specified Incident object.",
                "parameters": [
                    {
                        "name": "incident_number",
                        "in": "path",
                        "description": "incident_number of the Incident object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{}/roles/": {
            "post": {
                "summary": "Create the Incident Role object",
                "description": "Create the Incident Role object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the Incident Role object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IRPayload"
                            },
                            "example": {
                                "title": "Infra Incident Role",
                                "rank": 1
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/IRPayload"
                            },
                            "example": {
                                "title": "Infra Incident Role",
                                "rank": 1
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all Incident Role objects",
                "description": "Returns a list of Incident Role objects. The Incident Role objects are sorted by creation_date, with the most recent Incident Role object appearing last.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/account/teams/{team_id}/roles/{incident_role_id}/": {
            "get": {
                "summary": "Retrieve the Incident Role object",
                "description": "Retrieve the specified Incident Role object.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "incident_role_id",
                        "in": "path",
                        "description": "unique_id of the Incident Role object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Incident Role object",
                "description": "Updates the specified Incident Role object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.",
                "requestBody": {
                    "description": "Request body parameters to update the Incident Role object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IRPayload"
                            },
                            "example": {
                                "title": "Modified Infra Incident Role"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/IRPayload"
                            },
                            "example": {
                                "title": "Modified Infra Incident Role"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "incident_role_id",
                        "in": "path",
                        "description": "unique_id of the Incident Role object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "delete": {
                "summary": "Delete the Incident Role object",
                "description": "Delete the specified Incident Role object permanently.",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "description": "unique_id of the Team object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "incident_role_id",
                        "in": "path",
                        "description": "unique_id of the Incident Role object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/incidents/{incident_number}/note/": {
            "post": {
                "summary": "Create the Incident Note object",
                "description": "Create the Incident Note object by setting the values of all the required parameters passed in the request body.",
                "requestBody": {
                    "description": "Request body parameters to create the Incident Note object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IncidentNotePayload"
                            },
                            "example": {
                                "note": "This is new Infra Incident Note data"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/IncidentNotePayload"
                            },
                            "example": {
                                "note": "This is new Infra Incident Note data"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "incident_number",
                        "in": "path",
                        "description": "incident_number of the Incident object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "get": {
                "summary": "List all Incident Note objects",
                "description": "Returns a list of Incident Note objects. The Incident Note objects are sorted by creation_date, with the most recent Incident Note object appearing last.",
                "parameters": [
                    {
                        "name": "incident_number",
                        "in": "path",
                        "description": "incident_number of the Incident object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            }
        },
        "/api/incidents/{incident_number}/note/{note_unique_id}/": {
            "get": {
                "summary": "Retrieve the Incident Note object",
                "description": "Retrieve the specified Incident Note object.",
                "parameters": [
                    {
                        "name": "incident_number",
                        "in": "path",
                        "description": "incident_number of the Incident object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "note_unique_id",
                        "in": "path",
                        "description": "unique_id of the Incident Note object",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ]
            },
            "put": {
                "summary": "Update the Incident Note object",
                "description": "Updates the specified Incident Note object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.",
                "requestBody": {
                    "description": "Incident Note update payload",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IncidentNotePayload"
                            },
                            "example": {
[...]
