{
    "info": {
        "description": "DevRev's REST API.",
        "title": "DevRev REST API",
        "version": "2024-01-24"
    },
    "openapi": "3.0.3",
    "servers": [
        {
            "description": "DevRev API endpoint.",
            "url": "https://api.devrev.ai"
        }
    ],
    "paths": {
        "/accounts.create": {
            "post": {
                "description": "Creates an account, which is a record representing a customer or an\norganization.\n",
                "operationId": "accounts-create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request object to create a new account in the Dev organization.\n",
                                "properties": {
                                    "description": {
                                        "description": "Description of the account.",
                                        "type": "string"
                                    },
                                    "display_name": {
                                        "description": "Name of the account.",
                                        "type": "string"
                                    },
                                    "domains": {
                                        "description": "List of company's domain names. Example - ['devrev.ai'].",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "external_refs": {
                                        "description": "External refs are unique identifiers from your customer system of\nrecords, stored as a list.\n",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "owned_by": {
                                        "description": "List of Dev users owning this account.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "tier": {
                                        "description": "The tier of the account.",
                                        "type": "string"
                                    },
                                    "websites": {
                                        "description": "List of company websites. Example - ['www.devrev.ai',\n'www.marketplace.devrev.ai'].\n",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "display_name"
                                ],
                                "title": "accounts-create-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/accounts.delete": {
            "post": {
                "description": "Deletes an account.",
                "operationId": "accounts-delete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request object to delete an account.",
                                "properties": {
                                    "id": {
                                        "description": "The ID of account to delete.",
                                        "example": "ACC-12345",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id"
                                ],
                                "title": "accounts-delete-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/accounts.export": {
            "get": {
                "description": "Exports a collection of accounts.",
                "operationId": "accounts-export",
                "parameters": [
                    {
                        "description": "Filters for accounts created by the specified user(s).",
                        "explode": false,
                        "in": "query",
                        "name": "created_by",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    {
                        "description": "Filters for objects created after the provided timestamp (inclusive).\n",
                        "explode": false,
                        "in": "query",
                        "name": "created_date.after",
                        "schema": {
                            "example": "2023-01-01T12:00:00.000Z",
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filters for objects created before the provided timestamp\n(inclusive).\n",
                        "explode": false,
                        "in": "query",
                        "name": "created_date.before",
                        "schema": {
                            "example": "2023-01-01T12:00:00.000Z",
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Array of display names of accounts to be filtered.",
                        "explode": false,
                        "in": "query",
                        "name": "display_name",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    {
                        "description": "Array of references of accounts to be filtered.",
                        "explode": false,
                        "in": "query",
                        "name": "external_refs",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    {
                        "description": "The number of accounts to return. The default is '50'.",
                        "explode": false,
                        "in": "query",
                        "name": "first",
                        "schema": {
                            "format": "int32",
                            "maximum": 500,
                            "minimum": 1,
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Filters for objects created after the provided timestamp (inclusive).\n",
                        "explode": false,
                        "in": "query",
                        "name": "modified_date.after",
                        "schema": {
                            "example": "2023-01-01T12:00:00.000Z",
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filters for objects created before the provided timestamp\n(inclusive).\n",
                        "explode": false,
                        "in": "query",
                        "name": "modified_date.before",
                        "schema": {
                            "example": "2023-01-01T12:00:00.000Z",
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Fields to sort the accounts by and the direction to sort them in.\n",
                        "explode": false,
                        "in": "query",
                        "name": "sort_by",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    {
                        "description": "Filters for accounts on specified stages.",
                        "explode": false,
                        "in": "query",
                        "name": "stage",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    }
                ],
                "x-request-name": "AccountsExportQuery"
            },
            "post": {
                "description": "Exports a collection of accounts.",
                "operationId": "accounts-export-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request to export a collection of accounts.",
                                "properties": {
                                    "created_by": {
                                        "description": "Filters for accounts created by the specified user(s).",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "created_date": {
                                        "properties": {
                                            "after": {
                                                "description": "Filters for objects created after the provided timestamp\n(inclusive).\n",
                                                "example": "2023-01-01T12:00:00.000Z",
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "before": {
                                                "description": "Filters for objects created before the provided timestamp\n(inclusive).\n",
                                                "example": "2023-01-01T12:00:00.000Z",
                                                "format": "date-time",
                                                "type": "string"
                                            }
                                        },
                                        "title": "date-time-filter",
                                        "type": "object"
                                    },
                                    "display_name": {
                                        "description": "Array of display names of accounts to be filtered.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "external_refs": {
                                        "description": "Array of references of accounts to be filtered.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "first": {
                                        "description": "The number of accounts to return. The default is '50'.",
                                        "format": "int32",
                                        "maximum": 500,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "modified_date": {
                                        "properties": {
                                            "after": {
                                                "description": "Filters for objects created after the provided timestamp\n(inclusive).\n",
                                                "example": "2023-01-01T12:00:00.000Z",
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "before": {
                                                "description": "Filters for objects created before the provided timestamp\n(inclusive).\n",
                                                "example": "2023-01-01T12:00:00.000Z",
                                                "format": "date-time",
                                                "type": "string"
                                            }
                                        },
                                        "title": "date-time-filter",
                                        "type": "object"
                                    },
                                    "sort_by": {
                                        "description": "Fields to sort the accounts by and the direction to sort them in.\n",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "stage": {
                                        "description": "Filters for accounts on specified stages.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "title": "accounts-export-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/accounts.get": {
            "get": {
                "description": "Retrieves an account's information.",
                "operationId": "accounts-get",
                "parameters": [
                    {
                        "description": "The ID of the account to be retrieved.",
                        "explode": false,
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "example": "ACC-12345",
                            "type": "string"
                        }
                    }
                ],
                "x-request-name": "AccountsGetQuery"
            },
            "post": {
                "description": "Retrieves an account's information.",
                "operationId": "accounts-get-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request object to get an account's information.",
                                "properties": {
                                    "id": {
                                        "description": "The ID of the account to be retrieved.",
                                        "example": "ACC-12345",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id"
                                ],
                                "title": "accounts-get-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/accounts.list": {
            "get": {
                "description": "Gets a list of accounts.",
                "operationId": "accounts-list",
                "parameters": [
                    {
                        "description": "Filters for accounts created by the specified user(s).",
                        "explode": false,
                        "in": "query",
                        "name": "created_by",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    {
                        "description": "Filters for objects created after the provided timestamp (inclusive).\n",
                        "explode": false,
                        "in": "query",
                        "name": "created_date.after",
                        "schema": {
                            "example": "2023-01-01T12:00:00.000Z",
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filters for objects created before the provided timestamp\n(inclusive).\n",
                        "explode": false,
                        "in": "query",
                        "name": "created_date.before",
                        "schema": {
                            "example": "2023-01-01T12:00:00.000Z",
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The cursor to resume iteration from. If not provided, then iteration\nstarts from the beginning.\n",
                        "explode": false,
                        "in": "query",
                        "name": "cursor",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Array of display names of accounts to be filtered.",
                        "explode": false,
                        "in": "query",
                        "name": "display_name",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    {
                        "description": "Array of references of accounts to be filtered.",
                        "explode": false,
                        "in": "query",
                        "name": "external_refs",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    {
                        "description": "The maximum number of accounts to return per page. The default is\n'50'.\n",
                        "explode": false,
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The iteration mode to use, otherwise if not set, then \"after\" is\nused.\n",
                        "explode": false,
                        "in": "query",
                        "name": "mode",
                        "schema": {
                            "description": "The iteration mode to use. If \"after\", then entries after the provided\ncursor will be returned, or if no cursor is provided, then from the\nbeginning. If \"before\", then entries before the provided cursor will be\nreturned, or if no cursor is provided, then from the end. Entries will\nalways be returned in the specified sort-by order.\n",
                            "enum": [
                                "after",
                                "before"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filters for objects created after the provided timestamp (inclusive).\n",
                        "explode": false,
                        "in": "query",
                        "name": "modified_date.after",
                        "schema": {
                            "example": "2023-01-01T12:00:00.000Z",
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filters for objects created before the provided timestamp\n(inclusive).\n",
                        "explode": false,
                        "in": "query",
                        "name": "modified_date.before",
                        "schema": {
                            "example": "2023-01-01T12:00:00.000Z",
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Fields to sort the accounts by and the direction to sort them in.\n",
                        "explode": false,
                        "in": "query",
                        "name": "sort_by",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    {
                        "description": "Filters for accounts on specified stages.",
                        "explode": false,
                        "in": "query",
                        "name": "stage",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    }
                ],
                "x-request-name": "AccountsListQuery"
            },
            "post": {
                "description": "Gets a list of accounts.",
                "operationId": "accounts-list-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "List the accounts.",
                                "properties": {
                                    "created_by": {
                                        "description": "Filters for accounts created by the specified user(s).",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "created_date": {
                                        "properties": {
                                            "after": {
                                                "description": "Filters for objects created after the provided timestamp\n(inclusive).\n",
                                                "example": "2023-01-01T12:00:00.000Z",
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "before": {
                                                "description": "Filters for objects created before the provided timestamp\n(inclusive).\n",
                                                "example": "2023-01-01T12:00:00.000Z",
                                                "format": "date-time",
                                                "type": "string"
                                            }
                                        },
                                        "title": "date-time-filter",
                                        "type": "object"
                                    },
                                    "cursor": {
                                        "description": "The cursor to resume iteration from. If not provided, then\niteration starts from the beginning.\n",
                                        "type": "string"
                                    },
                                    "display_name": {
                                        "description": "Array of display names of accounts to be filtered.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "external_refs": {
                                        "description": "Array of references of accounts to be filtered.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "limit": {
                                        "description": "The maximum number of accounts to return per page. The default is\n'50'.\n",
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "mode": {
                                        "description": "The iteration mode to use. If \"after\", then entries after the provided\ncursor will be returned, or if no cursor is provided, then from the\nbeginning. If \"before\", then entries before the provided cursor will be\nreturned, or if no cursor is provided, then from the end. Entries will\nalways be returned in the specified sort-by order.\n",
                                        "enum": [
                                            "after",
                                            "before"
                                        ],
                                        "type": "string"
                                    },
                                    "modified_date": {
                                        "properties": {
                                            "after": {
                                                "description": "Filters for objects created after the provided timestamp\n(inclusive).\n",
                                                "example": "2023-01-01T12:00:00.000Z",
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "before": {
                                                "description": "Filters for objects created before the provided timestamp\n(inclusive).\n",
                                                "example": "2023-01-01T12:00:00.000Z",
                                                "format": "date-time",
                                                "type": "string"
                                            }
                                        },
                                        "title": "date-time-filter",
                                        "type": "object"
                                    },
                                    "sort_by": {
                                        "description": "Fields to sort the accounts by and the direction to sort them in.\n",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "stage": {
                                        "description": "Filters for accounts on specified stages.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "title": "accounts-list-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/accounts.update": {
            "post": {
                "description": "Updates an account's information.",
                "operationId": "accounts-update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request to update details of the account.",
                                "properties": {
                                    "description": {
                                        "description": "Updated description of the account.",
                                        "type": "string"
                                    },
                                    "display_name": {
                                        "description": "Updated display name for the account.",
                                        "type": "string"
                                    },
                                    "domains": {
                                        "description": "Updated list of company's domain names. Example - ['devrev.ai'].\n",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "external_refs": {
                                        "description": "Updated External Refs of account.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "id": {
                                        "description": "The ID of account to update.",
                                        "example": "ACC-12345",
                                        "type": "string"
                                    },
                                    "owned_by": {
                                        "description": "Updated list of the users owning this account.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "tier": {
                                        "description": "Updated tier of the account.",
                                        "nullable": true,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id"
                                ],
                                "title": "accounts-update-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/artifacts.get": {
            "get": {
                "description": "Gets the requested artifact's information.",
                "operationId": "artifacts-get",
                "parameters": [
                    {
                        "description": "The requested artifact's ID.",
                        "explode": false,
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "example": "ARTIFACT-12345",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the artifact that needs to be fetched.",
                        "explode": false,
                        "in": "query",
                        "name": "version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "x-request-name": "ArtifactsGetQuery"
            },
            "post": {
                "description": "Gets the requested artifact's information.",
                "operationId": "artifacts-get-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request to get an artifact's information.",
                                "properties": {
                                    "id": {
                                        "description": "The requested artifact's ID.",
                                        "example": "ARTIFACT-12345",
                                        "type": "string"
                                    },
                                    "version": {
                                        "description": "The version of the artifact that needs to be fetched.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id"
                                ],
                                "title": "artifacts-get-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/artifacts.list": {
            "get": {
                "description": "List the artifacts attached to an object.",
                "operationId": "artifacts-list",
                "parameters": [
                    {
                        "description": "The ID of the object to filter artifacts.",
                        "explode": false,
                        "in": "query",
                        "name": "parent_id",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "x-request-name": "ArtifactsListQuery"
            },
            "post": {
                "description": "List the artifacts attached to an object.",
                "operationId": "artifacts-list-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request to list artifacts attached to an object.",
                                "properties": {
                                    "parent_id": {
                                        "description": "The ID of the object to filter artifacts.",
                                        "type": "string"
                                    }
                                },
                                "title": "artifacts-list-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/artifacts.locate": {
            "get": {
                "description": "Gets the download URL for the artifact.",
                "operationId": "artifacts-locate",
                "parameters": [
                    {
                        "description": "The ID of the artifact to get the URL for.",
                        "explode": false,
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "example": "ARTIFACT-12345",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the artifact that needs to be fetched.",
                        "explode": false,
                        "in": "query",
                        "name": "version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "x-request-name": "ArtifactsLocateQuery"
            },
            "post": {
                "description": "Gets the download URL for the artifact.",
                "operationId": "artifacts-locate-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request to get an artifact's download URL.",
                                "properties": {
                                    "id": {
                                        "description": "The ID of the artifact to get the URL for.",
                                        "example": "ARTIFACT-12345",
                                        "type": "string"
                                    },
                                    "version": {
                                        "description": "The version of the artifact that needs to be fetched.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id"
                                ],
                                "title": "artifacts-locate-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/artifacts.prepare": {
            "post": {
                "description": "Creates an artifact and generates an upload URL for its data.\n",
                "operationId": "artifacts-prepare",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request to prepare a URL to upload a file.",
                                "properties": {
                                    "file_name": {
                                        "description": "The name of the file that's being uploaded.",
                                        "type": "string"
                                    },
                                    "file_type": {
                                        "description": "The type of file that's being uploaded.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "file_name"
                                ],
                                "title": "artifacts-prepare-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/auth-tokens.create": {
            "post": {
                "description": "Creates a JWT corresponding to the requested token type for the\nauthenticated user.\n",
                "operationId": "auth-tokens-create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A request to create a new token corresponding to the requested token\ntype.\n",
                                "properties": {
                                    "act_as": {
                                        "description": "The unique ID of the Dev user or the service account to\nimpersonate.\n",
                                        "type": "string"
                                    },
                                    "aud": {
                                        "description": "The expected audience values with respect to the token.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "client_id": {
                                        "description": "An identifier that represents the application which is requesting\nthe token. If no client_id is present in the request to generate an\napplication access token (AAT), DevRev will generate a client_id.\nThis client_id is only associated with an AAT.\n",
                                        "type": "string"
                                    },
                                    "expires_in": {
                                        "description": "The expected validity lifetime of the token in number of days. In\npractice, the value should be based on the usage of the token.\n",
                                        "maximum": 4294967295,
                                        "minimum": 0,
                                        "type": "integer"
                                    },
                                    "grant_type": {
                                        "description": "Specifies the process of obtaining a token.",
                                        "enum": [
                                            "urn:devrev:params:oauth:grant-type:token-issue",
                                            "urn:ietf:params:oauth:grant-type:token-exchange"
                                        ],
                                        "type": "string",
                                        "x-fern-enum": {
                                            "urn:devrev:params:oauth:grant-type:token-issue": {
                                                "name": "urn-devrev-params-oauth-grant-type-token-issue"
                                            },
                                            "urn:ietf:params:oauth:grant-type:token-exchange": {
                                                "name": "urn-ietf-params-oauth-grant-type-token-exchange"
                                            }
                                        }
                                    },
                                    "requested_token_type": {
                                        "description": "The type of the requested token.",
                                        "enum": [
                                            "urn:devrev:params:oauth:token-type:aat",
                                            "urn:devrev:params:oauth:token-type:aat:act-as",
                                            "urn:devrev:params:oauth:token-type:aat:public",
                                            "urn:devrev:params:oauth:token-type:dev",
                                            "urn:devrev:params:oauth:token-type:dev:connect",
                                            "urn:devrev:params:oauth:token-type:gat",
                                            "urn:devrev:params:oauth:token-type:pat",
                                            "urn:devrev:params:oauth:token-type:pat:act-as",
                                            "urn:devrev:params:oauth:token-type:rat",
                                            "urn:devrev:params:oauth:token-type:rev",
                                            "urn:devrev:params:oauth:token-type:session",
                                            "urn:devrev:params:oauth:token-type:session:dev0",
                                            "urn:devrev:params:oauth:token-type:session:onetime",
                                            "urn:devrev:params:oauth:token-type:session:rev:act-as",
                                            "urn:devrev:params:oauth:token-type:super",
                                            "urn:devrev:params:oauth:token-type:sys",
                                            "urn:ietf:params:oauth:token-type:jwt"
                                        ],
                                        "type": "string",
                                        "x-fern-enum": {
                                            "urn:devrev:params:oauth:token-type:aat": {
                                                "name": "urn-devrev-params-oauth-token-type-aat"
                                            },
                                            "urn:devrev:params:oauth:token-type:aat:act-as": {
                                                "name": "urn-devrev-params-oauth-token-type-aat-act-as"
                                            },
                                            "urn:devrev:params:oauth:token-type:aat:public": {
                                                "name": "urn-devrev-params-oauth-token-type-aat-public"
                                            },
                                            "urn:devrev:params:oauth:token-type:dev": {
                                                "name": "urn-devrev-params-oauth-token-type-dev"
                                            },
                                            "urn:devrev:params:oauth:token-type:dev:connect": {
                                                "name": "urn-devrev-params-oauth-token-type-dev-connect"
                                            },
                                            "urn:devrev:params:oauth:token-type:gat": {
                                                "name": "urn-devrev-params-oauth-token-type-gat"
                                            },
                                            "urn:devrev:params:oauth:token-type:pat": {
                                                "name": "urn-devrev-params-oauth-token-type-pat"
                                            },
                                            "urn:devrev:params:oauth:token-type:pat:act-as": {
                                                "name": "urn-devrev-params-oauth-token-type-pat-act-as"
                                            },
                                            "urn:devrev:params:oauth:token-type:rat": {
                                                "name": "urn-devrev-params-oauth-token-type-rat"
                                            },
                                            "urn:devrev:params:oauth:token-type:rev": {
                                                "name": "urn-devrev-params-oauth-token-type-rev"
                                            },
                                            "urn:devrev:params:oauth:token-type:session": {
                                                "name": "urn-devrev-params-oauth-token-type-session"
                                            },
                                            "urn:devrev:params:oauth:token-type:session:dev0": {
                                                "name": "urn-devrev-params-oauth-token-type-session-dev0"
                                            },
                                            "urn:devrev:params:oauth:token-type:session:onetime": {
                                                "name": "urn-devrev-params-oauth-token-type-session-onetime"
                                            },
                                            "urn:devrev:params:oauth:token-type:session:rev:act-as": {
                                                "name": "urn-devrev-params-oauth-token-type-session-rev-act-as"
                                            },
                                            "urn:devrev:params:oauth:token-type:super": {
                                                "name": "urn-devrev-params-oauth-token-type-super"
                                            },
                                            "urn:devrev:params:oauth:token-type:sys": {
                                                "name": "urn-devrev-params-oauth-token-type-sys"
                                            },
                                            "urn:ietf:params:oauth:token-type:jwt": {
                                                "name": "urn-ietf-params-oauth-token-type-jwt"
                                            }
                                        }
                                    },
                                    "rev_info": {
                                        "description": "Carries info corresponding to the Rev user to be provisioned and/or\nissue a Rev session token.\n",
                                        "properties": {
                                            "org_ref": {
                                                "description": "An identifier which uniquely identifies a Rev org.",
                                                "type": "string"
                                            },
                                            "org_traits": {
                                                "description": "Carries Rev org info.",
                                                "properties": {
                                                    "custom_fields": {
                                                        "description": "Application-defined custom fields of the Rev org.",
                                                        "type": "object"
                                                    },
                                                    "description": {
                                                        "description": "The description of the Rev org.",
                                                        "type": "string"
                                                    },
                                                    "display_name": {
                                                        "description": "The display name of the Rev org.",
                                                        "type": "string"
                                                    },
                                                    "domain": {
                                                        "description": "The domain of the Rev org.",
                                                        "type": "string"
                                                    },
                                                    "phone_numbers": {
                                                        "description": "Phone numbers of the Rev org.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "tier": {
                                                        "description": "The tier of the Rev org.",
                                                        "type": "string"
                                                    }
                                                },
                                                "title": "auth-tokens-org-traits",
                                                "type": "object"
                                            },
                                            "user_id": {
                                                "description": "The unique ID of the Rev user.",
                                                "type": "string"
                                            },
                                            "user_ref": {
                                                "description": "An identifier which uniquely identifies a Rev user.",
                                                "type": "string"
                                            },
                                            "user_traits": {
                                                "description": "Carries Rev user info.",
                                                "properties": {
                                                    "custom_fields": {
                                                        "description": "Application-defined custom fields of the Rev user.",
                                                        "type": "object"
                                                    },
                                                    "description": {
                                                        "description": "The description of the Rev user.",
                                                        "type": "string"
                                                    },
                                                    "display_name": {
                                                        "description": "The display name of the Rev user.",
                                                        "type": "string"
                                                    },
                                                    "email": {
                                                        "description": "The email address of the Rev user.",
                                                        "type": "string"
                                                    },
                                                    "full_name": {
                                                        "deprecated": true,
                                                        "description": "The full name of the Rev user.",
                                                        "type": "string"
                                                    },
                                                    "phone_numbers": {
                                                        "description": "Phone numbers of the Rev user.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "title": "auth-tokens-user-traits",
                                                "type": "object"
                                            }
                                        },
                                        "title": "auth-tokens-rev-info",
                                        "type": "object"
                                    },
                                    "scope": {
                                        "description": "The requested set of scopes associated with the issued token. A\nspace-delimited list of values in which the order of values does\nnot matter.\n",
                                        "type": "string"
                                    },
                                    "subject_token": {
                                        "description": "Represents the entity that requests the token. Not required when\nrequesting an application access token (AAT).\n",
                                        "type": "string"
                                    },
                                    "subject_token_type": {
                                        "description": "The type of the subject token.",
                                        "enum": [
                                            "urn:devrev:params:oauth:token-type:jwt:auth0",
                                            "urn:devrev:params:oauth:token-type:jwt:dev",
                                            "urn:devrev:params:oauth:token-type:rat",
                                            "urn:devrev:params:oauth:token-type:revinfo",
                                            "urn:devrev:params:oauth:token-type:session",
                                            "urn:devrev:params:oauth:token-type:sysu",
                                            "urn:devrev:params:oauth:token-type:userinfo",
                                            "urn:devrev:params:oauth:token-type:userinfo:profile",
                                            "urn:ietf:params:oauth:token-type:jwt"
                                        ],
                                        "type": "string",
                                        "x-fern-enum": {
                                            "urn:devrev:params:oauth:token-type:jwt:auth0": {
                                                "name": "urn-devrev-params-oauth-token-type-jwt-auth0"
                                            },
                                            "urn:devrev:params:oauth:token-type:jwt:dev": {
                                                "name": "urn-devrev-params-oauth-token-type-jwt-dev"
                                            },
                                            "urn:devrev:params:oauth:token-type:rat": {
                                                "name": "urn-devrev-params-oauth-token-type-rat"
                                            },
                                            "urn:devrev:params:oauth:token-type:revinfo": {
                                                "name": "urn-devrev-params-oauth-token-type-revinfo"
                                            },
                                            "urn:devrev:params:oauth:token-type:session": {
                                                "name": "urn-devrev-params-oauth-token-type-session"
                                            },
                                            "urn:devrev:params:oauth:token-type:sysu": {
                                                "name": "urn-devrev-params-oauth-token-type-sysu"
                                            },
                                            "urn:devrev:params:oauth:token-type:userinfo": {
                                                "name": "urn-devrev-params-oauth-token-type-userinfo"
                                            },
                                            "urn:devrev:params:oauth:token-type:userinfo:profile": {
                                                "name": "urn-devrev-params-oauth-token-type-userinfo-profile"
                                            },
                                            "urn:ietf:params:oauth:token-type:jwt": {
                                                "name": "urn-ietf-params-oauth-token-type-jwt"
                                            }
                                        }
                                    },
                                    "token_hint": {
                                        "description": "A hint that identifies the token.",
                                        "type": "string"
                                    }
                                },
                                "title": "auth-tokens-create-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/auth-tokens.delete": {
            "post": {
                "description": "Revokes the token that matches the given token ID issued under the\ngiven Dev organization.\n",
                "operationId": "auth-tokens-delete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request to revoke the token.",
                                "properties": {
                                    "token_id": {
                                        "description": "The unique identifier for the token under a given Dev organization.\nIf no token ID is provided, then the token ID will be set from the\nJTI claim of the token in the authorization header.\n",
                                        "type": "string"
                                    }
                                },
                                "title": "auth-tokens-delete-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/auth-tokens.get": {
            "get": {
                "description": "Gets the token metadata corresponding to the given token ID under the\ngiven Dev organization.\n",
                "operationId": "auth-tokens-get",
                "parameters": [
                    {
                        "description": "The unique identifier of the token under a given Dev organization.\n",
                        "explode": false,
                        "in": "query",
                        "name": "token_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "x-request-name": "AuthTokensGetQuery"
            },
            "post": {
                "description": "Gets the token metadata corresponding to the given token ID under the\ngiven Dev organization.\n",
                "operationId": "auth-tokens-get-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request to get the token metadata.",
                                "properties": {
                                    "token_id": {
                                        "description": "The unique identifier of the token under a given Dev organization.\n",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "token_id"
                                ],
                                "title": "auth-tokens-get-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/auth-tokens.list": {
            "get": {
                "description": "Gets the token metadata for all the tokens corresponding to the given\ntoken type issued for a given subject.\n",
                "operationId": "auth-tokens-list",
                "parameters": [
                    {
                        "description": "An identifier that represents the application, which requested the\ntoken. Only relevant for application access tokens.\n",
                        "explode": false,
                        "in": "query",
                        "name": "client_id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The type of the requested token. If no value is specified, the\nresponse will include tokens of all the types.\n",
                        "explode": false,
                        "in": "query",
                        "name": "requested_token_type",
                        "schema": {
                            "description": "The type of the requested token.",
                            "enum": [
                                "urn:devrev:params:oauth:token-type:aat",
                                "urn:devrev:params:oauth:token-type:aat:act-as",
                                "urn:devrev:params:oauth:token-type:aat:public",
                                "urn:devrev:params:oauth:token-type:dev",
                                "urn:devrev:params:oauth:token-type:dev:connect",
                                "urn:devrev:params:oauth:token-type:gat",
                                "urn:devrev:params:oauth:token-type:pat",
                                "urn:devrev:params:oauth:token-type:pat:act-as",
                                "urn:devrev:params:oauth:token-type:rat",
                                "urn:devrev:params:oauth:token-type:rev",
                                "urn:devrev:params:oauth:token-type:session",
                                "urn:devrev:params:oauth:token-type:session:dev0",
                                "urn:devrev:params:oauth:token-type:session:onetime",
                                "urn:devrev:params:oauth:token-type:session:rev:act-as",
                                "urn:devrev:params:oauth:token-type:super",
                                "urn:devrev:params:oauth:token-type:sys",
                                "urn:ietf:params:oauth:token-type:jwt"
                            ],
                            "type": "string",
                            "x-fern-enum": {
                                "urn:devrev:params:oauth:token-type:aat": {
                                    "name": "urn-devrev-params-oauth-token-type-aat"
                                },
                                "urn:devrev:params:oauth:token-type:aat:act-as": {
                                    "name": "urn-devrev-params-oauth-token-type-aat-act-as"
                                },
                                "urn:devrev:params:oauth:token-type:aat:public": {
                                    "name": "urn-devrev-params-oauth-token-type-aat-public"
                                },
                                "urn:devrev:params:oauth:token-type:dev": {
                                    "name": "urn-devrev-params-oauth-token-type-dev"
                                },
                                "urn:devrev:params:oauth:token-type:dev:connect": {
                                    "name": "urn-devrev-params-oauth-token-type-dev-connect"
                                },
                                "urn:devrev:params:oauth:token-type:gat": {
                                    "name": "urn-devrev-params-oauth-token-type-gat"
                                },
                                "urn:devrev:params:oauth:token-type:pat": {
                                    "name": "urn-devrev-params-oauth-token-type-pat"
                                },
                                "urn:devrev:params:oauth:token-type:pat:act-as": {
                                    "name": "urn-devrev-params-oauth-token-type-pat-act-as"
                                },
                                "urn:devrev:params:oauth:token-type:rat": {
                                    "name": "urn-devrev-params-oauth-token-type-rat"
                                },
                                "urn:devrev:params:oauth:token-type:rev": {
                                    "name": "urn-devrev-params-oauth-token-type-rev"
                                },
                                "urn:devrev:params:oauth:token-type:session": {
                                    "name": "urn-devrev-params-oauth-token-type-session"
                                },
                                "urn:devrev:params:oauth:token-type:session:dev0": {
                                    "name": "urn-devrev-params-oauth-token-type-session-dev0"
                                },
                                "urn:devrev:params:oauth:token-type:session:onetime": {
                                    "name": "urn-devrev-params-oauth-token-type-session-onetime"
                                },
                                "urn:devrev:params:oauth:token-type:session:rev:act-as": {
                                    "name": "urn-devrev-params-oauth-token-type-session-rev-act-as"
                                },
                                "urn:devrev:params:oauth:token-type:super": {
                                    "name": "urn-devrev-params-oauth-token-type-super"
                                },
                                "urn:devrev:params:oauth:token-type:sys": {
                                    "name": "urn-devrev-params-oauth-token-type-sys"
                                },
                                "urn:ietf:params:oauth:token-type:jwt": {
                                    "name": "urn-ietf-params-oauth-token-type-jwt"
                                }
                            }
                        }
                    },
                    {
                        "description": "The subject associated with the token. In the absence of this\nparameter, the ID of the authenticated entity is treated as the\nsubject.\n",
                        "explode": false,
                        "in": "query",
                        "name": "subject",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "x-request-name": "AuthTokensListQuery"
            },
            "post": {
                "description": "Gets the token metadata for all the tokens corresponding to the given\ntoken type issued for a given subject.\n",
                "operationId": "auth-tokens-list-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A request to list the token metadata.",
                                "properties": {
                                    "client_id": {
                                        "description": "An identifier that represents the application, which requested the\ntoken. Only relevant for application access tokens.\n",
                                        "type": "string"
                                    },
                                    "requested_token_type": {
                                        "description": "The type of the requested token.",
                                        "enum": [
                                            "urn:devrev:params:oauth:token-type:aat",
                                            "urn:devrev:params:oauth:token-type:aat:act-as",
                                            "urn:devrev:params:oauth:token-type:aat:public",
                                            "urn:devrev:params:oauth:token-type:dev",
                                            "urn:devrev:params:oauth:token-type:dev:connect",
                                            "urn:devrev:params:oauth:token-type:gat",
                                            "urn:devrev:params:oauth:token-type:pat",
                                            "urn:devrev:params:oauth:token-type:pat:act-as",
                                            "urn:devrev:params:oauth:token-type:rat",
                                            "urn:devrev:params:oauth:token-type:rev",
                                            "urn:devrev:params:oauth:token-type:session",
                                            "urn:devrev:params:oauth:token-type:session:dev0",
                                            "urn:devrev:params:oauth:token-type:session:onetime",
                                            "urn:devrev:params:oauth:token-type:session:rev:act-as",
                                            "urn:devrev:params:oauth:token-type:super",
                                            "urn:devrev:params:oauth:token-type:sys",
                                            "urn:ietf:params:oauth:token-type:jwt"
                                        ],
                                        "type": "string",
                                        "x-fern-enum": {
                                            "urn:devrev:params:oauth:token-type:aat": {
                                                "name": "urn-devrev-params-oauth-token-type-aat"
                                            },
                                            "urn:devrev:params:oauth:token-type:aat:act-as": {
                                                "name": "urn-devrev-params-oauth-token-type-aat-act-as"
                                            },
                                            "urn:devrev:params:oauth:token-type:aat:public": {
                                                "name": "urn-devrev-params-oauth-token-type-aat-public"
                                            },
                                            "urn:devrev:params:oauth:token-type:dev": {
                                                "name": "urn-devrev-params-oauth-token-type-dev"
                                            },
                                            "urn:devrev:params:oauth:token-type:dev:connect": {
                                                "name": "urn-devrev-params-oauth-token-type-dev-connect"
                                            },
                                            "urn:devrev:params:oauth:token-type:gat": {
                                                "name": "urn-devrev-params-oauth-token-type-gat"
                                            },
                                            "urn:devrev:params:oauth:token-type:pat": {
                                                "name": "urn-devrev-params-oauth-token-type-pat"
                                            },
                                            "urn:devrev:params:oauth:token-type:pat:act-as": {
                                                "name": "urn-devrev-params-oauth-token-type-pat-act-as"
                                            },
                                            "urn:devrev:params:oauth:token-type:rat": {
                                                "name": "urn-devrev-params-oauth-token-type-rat"
                                            },
                                            "urn:devrev:params:oauth:token-type:rev": {
                                                "name": "urn-devrev-params-oauth-token-type-rev"
                                            },
                                            "urn:devrev:params:oauth:token-type:session": {
                                                "name": "urn-devrev-params-oauth-token-type-session"
                                            },
                                            "urn:devrev:params:oauth:token-type:session:dev0": {
                                                "name": "urn-devrev-params-oauth-token-type-session-dev0"
                                            },
                                            "urn:devrev:params:oauth:token-type:session:onetime": {
                                                "name": "urn-devrev-params-oauth-token-type-session-onetime"
                                            },
                                            "urn:devrev:params:oauth:token-type:session:rev:act-as": {
                                                "name": "urn-devrev-params-oauth-token-type-session-rev-act-as"
                                            },
                                            "urn:devrev:params:oauth:token-type:super": {
                                                "name": "urn-devrev-params-oauth-token-type-super"
                                            },
                                            "urn:devrev:params:oauth:token-type:sys": {
                                                "name": "urn-devrev-params-oauth-token-type-sys"
                                            },
                                            "urn:ietf:params:oauth:token-type:jwt": {
                                                "name": "urn-ietf-params-oauth-token-type-jwt"
                                            }
                                        }
                                    },
                                    "subject": {
                                        "description": "The subject associated with the token. In the absence of this\nparameter, the ID of the authenticated entity is treated as the\nsubject.\n",
                                        "type": "string"
                                    }
                                },
                                "title": "auth-tokens-list-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/auth-tokens.self.delete": {
            "post": {
                "description": "Revokes all the tokens that matches the given token type created by the\nauthenticated user.\n",
                "operationId": "auth-tokens-self-delete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request to delete all the tokens created by the authenticated user,\nthat match with the provided token type.\n",
                                "properties": {
                                    "requested_token_type": {
                                        "description": "The type of the requested token.",
                                        "enum": [
                                            "urn:devrev:params:oauth:token-type:aat",
                                            "urn:devrev:params:oauth:token-type:aat:act-as",
                                            "urn:devrev:params:oauth:token-type:aat:public",
                                            "urn:devrev:params:oauth:token-type:dev",
                                            "urn:devrev:params:oauth:token-type:dev:connect",
                                            "urn:devrev:params:oauth:token-type:gat",
                                            "urn:devrev:params:oauth:token-type:pat",
                                            "urn:devrev:params:oauth:token-type:pat:act-as",
                                            "urn:devrev:params:oauth:token-type:rat",
                                            "urn:devrev:params:oauth:token-type:rev",
                                            "urn:devrev:params:oauth:token-type:session",
                                            "urn:devrev:params:oauth:token-type:session:dev0",
                                            "urn:devrev:params:oauth:token-type:session:onetime",
                                            "urn:devrev:params:oauth:token-type:session:rev:act-as",
                                            "urn:devrev:params:oauth:token-type:super",
                                            "urn:devrev:params:oauth:token-type:sys",
                                            "urn:ietf:params:oauth:token-type:jwt"
                                        ],
                                        "type": "string",
                                        "x-fern-enum": {
                                            "urn:devrev:params:oauth:token-type:aat": {
                                                "name": "urn-devrev-params-oauth-token-type-aat"
                                            },
                                            "urn:devrev:params:oauth:token-type:aat:act-as": {
                                                "name": "urn-devrev-params-oauth-token-type-aat-act-as"
                                            },
                                            "urn:devrev:params:oauth:token-type:aat:public": {
                                                "name": "urn-devrev-params-oauth-token-type-aat-public"
                                            },
                                            "urn:devrev:params:oauth:token-type:dev": {
                                                "name": "urn-devrev-params-oauth-token-type-dev"
                                            },
                                            "urn:devrev:params:oauth:token-type:dev:connect": {
                                                "name": "urn-devrev-params-oauth-token-type-dev-connect"
                                            },
                                            "urn:devrev:params:oauth:token-type:gat": {
                                                "name": "urn-devrev-params-oauth-token-type-gat"
                                            },
                                            "urn:devrev:params:oauth:token-type:pat": {
                                                "name": "urn-devrev-params-oauth-token-type-pat"
                                            },
                                            "urn:devrev:params:oauth:token-type:pat:act-as": {
                                                "name": "urn-devrev-params-oauth-token-type-pat-act-as"
                                            },
                                            "urn:devrev:params:oauth:token-type:rat": {
                                                "name": "urn-devrev-params-oauth-token-type-rat"
                                            },
                                            "urn:devrev:params:oauth:token-type:rev": {
                                                "name": "urn-devrev-params-oauth-token-type-rev"
                                            },
                                            "urn:devrev:params:oauth:token-type:session": {
                                                "name": "urn-devrev-params-oauth-token-type-session"
                                            },
                                            "urn:devrev:params:oauth:token-type:session:dev0": {
                                                "name": "urn-devrev-params-oauth-token-type-session-dev0"
                                            },
                                            "urn:devrev:params:oauth:token-type:session:onetime": {
                                                "name": "urn-devrev-params-oauth-token-type-session-onetime"
                                            },
                                            "urn:devrev:params:oauth:token-type:session:rev:act-as": {
                                                "name": "urn-devrev-params-oauth-token-type-session-rev-act-as"
                                            },
                                            "urn:devrev:params:oauth:token-type:super": {
                                                "name": "urn-devrev-params-oauth-token-type-super"
                                            },
                                            "urn:devrev:params:oauth:token-type:sys": {
                                                "name": "urn-devrev-params-oauth-token-type-sys"
                                            },
                                            "urn:ietf:params:oauth:token-type:jwt": {
                                                "name": "urn-ietf-params-oauth-token-type-jwt"
                                            }
                                        }
                                    }
                                },
                                "title": "auth-tokens-self-delete-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/auth-tokens.update": {
            "post": {
                "description": "Updates token metadata of a token issued under a given Dev\norganization.\n",
                "operationId": "auth-tokens-update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A request to update the token metadata.",
                                "properties": {
                                    "token_hint": {
                                        "description": "A hint that identifies the token.",
                                        "type": "string"
                                    },
                                    "token_id": {
                                        "description": "The unique identifier of the token under a given Dev organization.\n",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "token_hint",
                                    "token_id"
                                ],
                                "title": "auth-tokens-update-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/dev-orgs.auth-connections.create": {
            "post": {
                "description": "Creates a new enterprise authentication connection for a Dev\norganization. This authentication connection will not be enabled by\ndefault for the organization and the user will need to explicitly\nenable this. Keep in mind that at a time, only one authentication\nconnection can be enabled for a Dev organization. At present, only 5\nenterprise connections can be created by an organization.\n",
                "operationId": "dev-org-auth-connections-create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request to create a new enterprise authentication connection.\n",
                                "discriminator": {
                                    "mapping": {
                                        "google_apps": "#/components/schemas/auth-connection-options-google-apps",
                                        "oidc": "#/components/schemas/auth-connection-options-oidc",
                                        "samlp": "#/components/schemas/auth-connection-options-saml",
                                        "waad": "#/components/schemas/auth-connection-options-azure-ad"
                                    },
                                    "propertyName": "type"
                                },
                                "oneOf": [
                                    {
                                        "description": "Object encapsulating the configuration parameters for an Azure AD\nauthentication connection.\n",
                                        "properties": {
                                            "client_id": {
                                                "description": "Client ID for the Azure authentication connection.",
                                                "type": "string"
                                            },
                                            "client_secret": {
                                                "description": "Client secret for the Azure authentication connection.",
                                                "type": "string"
                                            },
                                            "domain": {
                                                "description": "Domain URL of the Azure authentication connection.",
                                                "type": "string"
                                            }
                                        },
                                        "title": "auth-connection-options-azure-ad",
                                        "type": "object"
                                    },
                                    {
                                        "description": "Object encapsulating the configuration parameters for a Google Apps\nauthentication connection.\n",
                                        "properties": {
                                            "client_id": {
                                                "description": "Client ID for the Google Apps authentication connection.",
                                                "type": "string"
                                            },
                                            "client_secret": {
                                                "description": "Client secret for the Google Apps authentication connection.\n",
                                                "type": "string"
                                            },
                                            "tenant_domain": {
                                                "description": "Tenant domain URL of the Google Apps authentication connection.\n",
                                                "type": "string"
                                            }
                                        },
                                        "title": "auth-connection-options-google-apps",
                                        "type": "object"
                                    },
                                    {
                                        "description": "Object encapsulating the configuration parameters for an OIDC\nauthentication connection.\n",
                                        "properties": {
                                            "client_id": {
                                                "description": "Client ID for the OIDC authentication connection.",
                                                "type": "string"
                                            },
                                            "client_secret": {
                                                "description": "Client secret for the OIDC authentication connection.",
                                                "type": "string"
                                            },
                                            "issuer": {
                                                "description": "Issuer URL of the OIDC authentication connection.",
                                                "type": "string"
                                            }
                                        },
                                        "title": "auth-connection-options-oidc",
                                        "type": "object"
                                    },
                                    {
                                        "description": "Object encapsulating the configuration parameters for a SAML\nauthentication connection.\n",
                                        "properties": {
                                            "sign_in_endpoint": {
                                                "description": "Sign In endpoint for the SAML authentication connection.",
                                                "type": "string"
                                            },
                                            "signing_cert": {
                                                "description": "Signing certificate for the SAML authentication connection.\n",
                                                "type": "string"
                                            }
                                        },
                                        "title": "auth-connection-options-saml",
                                        "type": "object"
                                    }
                                ],
                                "properties": {
                                    "display_name": {
                                        "description": "Display name of the authentication connection. This name will be\nvisible to all the users when they sign in to this Dev\norganization. For example, if the display_name is 'abclogin', then\nit would appear on the login button as 'Log in to abclogin'.\n",
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "Defines the type for the authentication connection. Different types of\nauthentication connections have different configuration parameters.\n",
                                        "enum": [
                                            "google_apps",
                                            "oidc",
                                            "samlp",
                                            "waad"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "type"
                                ],
                                "title": "dev-org-auth-connections-create-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/dev-orgs.auth-connections.delete": {
            "post": {
                "description": "Deletes an authentication connection. Only enterprise connections which\nare explicitly set up for a Dev organization can be deleted. Default\nconnections can not be deleted using this method.\n",
                "operationId": "dev-org-auth-connections-delete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request to delete an enterprise authentication connection for a Dev\norganization. A default connection and a connection which is currently\nenabled cannot be deleted.\n",
                                "properties": {
                                    "id": {
                                        "description": "ID of the authentication connection to be deleted.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id"
                                ],
                                "title": "dev-org-auth-connections-delete-request",
                                "type": "object"
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/dev-orgs.auth-connections.get": {
            "get": {
                "description": "Retrieves the details for an authentication connection.",
                "operationId": "dev-org-auth-connections-get",
                "parameters": [
                    {
                        "description": "ID of the authentication connection.",
                        "explode": false,
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "x-request-name": "DevOrgAuthConnectionsGetQuery"
            },
            "post": {
                "description": "Retrieves the details for an authentication connection.",
                "operationId": "dev-org-auth-connections-get-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request to get configuration details of organization's authentication\nConnection.\n",
                                "properties": {
                                    "id": {
                                        "description": "ID of the authentication connection.",
                                        "type": "string"
                                    }
[...]
