{
    "openapi": "3.0.0",
    "info": {
        "title": "EmailRep",
        "description": "EmailRep is a system of crawlers, scanners, and enrichment services that collect data on email addresses, domains, and internet personas.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://emailrep.io"
        }
    ],
    "paths": {
        "/{email}": {
            "get": {
                "summary": "Query email address",
                "operationId": "queryEmailAddress",
                "parameters": [
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Email address to query"
                    },
                    {
                        "name": "accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "default": "application/json",
                        "description": "The format to accept in response"
                    },
                    {
                        "name": "summary",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "Get summary or not in the response"
                    }
                ]
            }
        },
        "/report": {
            "post": {
                "summary": "Report email address",
                "operationId": "reportEmailAddress",
                "parameters": [
                    {
                        "name": "accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "default": "application/json",
                        "description": "The format to accept in response"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReportEmail"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Report successfully submitted"
                    },
                    "400": {
                        "description": "Invalid request"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ReportEmail": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string",
                        "description": "Email address to report",
                        "example": "test@example.com"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Tags associated with the email, such as 'malicious' or 'romance_scam'",
                        "example": [
                            "malicious",
                            "romance_scam"
                        ]
                    },
                    "description": {
                        "type": "string",
                        "description": "A description of the issue",
                        "example": "Phishing email sent to accounting dept"
                    },
                    "timestamp": {
                        "type": "integer",
                        "description": "Unix timestamp of when the event occurred",
                        "example": 1562171178
                    },
                    "expires": {
                        "type": "integer",
                        "description": "How long the report is valid, in hours",
                        "example": 24
                    }
                },
                "required": [
                    "email",
                    "tags",
                    "description",
                    "timestamp",
                    "expires"
                ]
            }
        }
    }
}